<div class="mini-pull-card__item">
    <div class="mini-pull-card__header">
        <span class="mini-pull-card__sub-title">Опрос</span>
        <h2 class="mini-pull-card__title">Как называется сквер в Самаре?</h2>
    </div>
    <form class="mini-pull-card__form">
        <div class="mini-pull-card__content">
            Смольный собор строился как центральное сооружение Смольного монастыря. Не большое описание проекта.
        </div>
        <ul class="question-answer_list">
            <li class="question-answer_item">
                <div class="question-answer_item-container">
                    <label class="question-answer_item-label">
                        <input type="radio"
                               name="question"
                               class="question-answer_item-input">
                        «Проект №<span class="question-answer_item-number">1</span>»
                    </label>
                </div>
            </li>
            <li class="question-answer_item">
                <div class="question-answer_item-container">
                    <label class="question-answer_item-label">
                        <input type="radio"
                               name="question"
                               class="question-answer_item-input">
                        «Проект №<span class="question-answer_item-number">2</span>»
                    </label>
                </div>
            </li>
            <li class="question-answer_item">
                <div class="question-answer_item-container">
                    <label class="question-answer_item-label">
                        <input type="radio"
                               name="question"
                               class="question-answer_item-input">
                        «Проект №<span class="question-answer_item-number">3</span>»
                    </label>
                </div>
            </li>
            <li class="question-answer_item">
                <div class="question-answer_item-container">
                    <label class="question-answer_item-label">
                        <input type="radio"
                               name="question"
                               class="question-answer_item-input">
                        «Проект №<span class="question-answer_item-number">4</span>»
                    </label>
                </div>
            </li>
            <li class="question-answer_item">
                <div class="question-answer_item-container">
                    <label class="question-answer_item-label">
                        <input type="radio"
                               name="question"
                               class="question-answer_item-input">
                        «Проект №<span class="question-answer_item-number">5</span>»
                    </label>
                </div>
            </li>
            <li class="question-answer_item">
                <div class="question-answer_item-container">
                    <label class="question-answer_item-label">
                        <input type="radio"
                               name="question"
                               class="question-answer_item-input">
                        «Проект №<span class="question-answer_item-number">6</span>»
                    </label>
                </div>
            </li>
        </ul>
        <button class="question-btn" type="submit">Голосовать</button>
    </form>
    <div class="pull-footer-panel__footer-panel">
        <span class="pull-footer-panel__time-create">16.05.2020</span>
        <svg class="pull-footer-panel__item" width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 12V17.5L20.5 9L10 0.5V6C4.477 6 0 10.477 0 16C0 16.273 0.0100002 16.543 0.0319996 16.81C0.795599 15.3582 1.94152 14.1427 3.34587 13.2949C4.75023 12.4471 6.3596 11.9994 8 12H10ZM12 13.308V10H8C6.58 10 5.209 10.271 3.943 10.773C4.69332 9.90182 5.62299 9.20302 6.66839 8.72442C7.71379 8.24582 8.85025 7.99871 10 8H12V4.692L17.321 9L12 13.308Z" fill="#777C86"/>
        </svg>
    </div>
</div>