.mini-pull-card__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0 2px 15px rgba(93, 125, 142, 0.3);
  border-radius: 10px;
  max-width: 370px;
  padding: 25px 25px 28px 25px;
}

.mini-pull-card__header {
  margin-bottom: 15px;
}

.mini-pull-card__title {
  font-size: 24px;
  line-height: 120%;
}

.mini-pull-card__sub-title {
  color: #777C86;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.pull-footer-panel__footer-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pull-footer-panel__time-create {
  font-size: 12px;
  line-height: 14px;
  color: #777C86;
}

.mini-pull-card__form-options,
.mini-pull-card__answer-list,
.question-answer_list{
  height: 100%;
}

.mini-pull-card__form-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mini-pull-card__answer-container {
  height: 100%;
  flex-direction: column;
  display: flex;
  margin-bottom: 20px;
}

.mini-pull-card__answer-item:not(:last-child) {
  margin-bottom: 10px;
}

.mini-pull-card__content {
  margin-bottom: 15px;
}

.question-answer_item-label {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  display: flex;
  align-content: center;
  cursor: pointer;
}

.question-answer_item-input {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.question-answer_item:not(:last-child) {
  margin-bottom: 10px;
}

.question-answer_item {
  width: fit-content;
}

.question-btn {
  background-color: #016BA0;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 36px;
  cursor: pointer;
  padding: 2px 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.question-btn:hover {
  background-color: #0082C4;
}

.question-btn:active {
  background-color: #003C5A;
}

.mini-pull-card__progress {
  display: flex;
  height: 5px;
  overflow: hidden;
  background-color: #E0E4EB;
  border-radius: 0 3px 3px 0;
}

.mini-pull-card__progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #016BA0;
  border-radius: 3px 0 0 3px;
  transition: width .6s ease;
}

.mini-pull-card__answer-item-pull {
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777C86;
  font-size: 9px;
  line-height: 160%;
}

.mini-pull-card__answer-count-pull {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  line-height: 160%;
  color: #777C86;
}

.mini-pull-card__answer-title {
  margin-bottom: 3px;
  font-size: 11px;
  line-height: 160%;
  color: #333333;
}