<div class="author-card">
    <h1 class="author-card__title">Кабинет автора</h1>
    <div class="author-card__profile">
        <div class="author-card__logo-container">
            <div class="author-card__logo">
                <img class="author-card__logo-img"
                     src=""
                     alt="">
                <span class="author-card__logo__switch-btn">Сменить</span>
            </div>
        </div>
        <div class="author-card__profile-container">
            <h3 class="author-card__profile-name">Никнейм автора</h3>
                <ul class="author-card__profile-data">
                    <li class="author-card__data-item">
                        <span>Страна: </span>
                        <span>Россия</span>
                    </li>
                    <li class="author-card__data-item">
                        <span>Город: </span>
                        <span>Тольятти</span>
                    </li>
                    <li class="author-card__data-item">
                        <span>Почта: </span>
                        <span>avtor@mail.ru</span>
                    </li>
                </ul>
            <div class="author-card__list-btn">
                <a id="article-card__btn-switch-password" href="#">Сменить пароль</a>
                <a id="article-card__btn-edit-profile" href="#">Редактировать профиль</a>
            </div>
        </div>
    </div>
</div>