<nav class="header__nav">
    <ul class="header__nav-inner wrapper">
        <ul class="header__nav-menu">
            <li class="header__nav-menu-item">
                <a class="nav__menu-link" href="#">О проекте</a>
            </li>
            <li class="header__nav-menu-item">
                <a class="nav__menu-link" href="#">Благотворительность</a>
            </li>
            <li class="header__nav-menu-item">
                <a class="nav__menu-link" href="#">Для авторов</a>
            </li>
            <li class="header__nav-menu-item active">
                <a class="nav__menu-link" href="#">Реклама</a>
            </li>
        </ul>
        <div>
            <a class="header__link-in-shop" href="#">войти в наш магазин</a>
        </div>
    </ul>
</nav>