// list Link
.detail-links {
  margin-top: 20px;
  margin-bottom: 30px;
}

.detail-links__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.detail-links__list {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  height: 108px;
}

.detail-links__item {
  color: #777C86;
  font-size: 16px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FFFFFF;
  padding: 2px 14px;
  border: 1px solid #777C86;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
  margin-right: 14px;
  margin-bottom: 14px;
}

// list Link effects
.detail-links__item:hover {
  cursor: pointer;
  background-color: #777C86;
  color: #FFFFFF;
  border-color: #777C86;
}

@media (max-width: 770.98px) {
  .detail-links__list {
    height: 100%;
  }
  .detail-links__item {
    font-size: 14px;
    margin-right: 8px;
  }
}