<div class="detail-links">
    <div class="detail-links__inner">
        <h4 class="content-title">Содержание:</h4>
        <ul class="detail-links__list">
            <li class="detail-links__item">Основные моенты</li>
            <li class="detail-links__item">Вместо памятника Екатерине II</li>
            <li class="detail-links__item">Как создавался Медный всадник</li>
            <li class="detail-links__item">Интересные факты, мифы и легенды</li>
            <li class="detail-links__item">Как добраться</li>
            <li class="detail-links__item">Памятник на карте</li>
        </ul>
    </div>
</div>