<div class="modal-authorization__container">
    <h2 class="modal-authorization__title">Авторизация</h2>
    <div class="modal-authorization__text">
        Для того чтобы оставить комментарий, авторизуйтесь через социальную сеть.
    </div>
<!--    <ul class="modal-authorization__list-link">-->
<!--        <li class="modal-authorization__link-item">-->
<!--            <svg class="modal-authorization__item-logo" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <rect width="48" height="48" rx="24" fill="#5181B8"/>-->
<!--                <path fill-rule="evenodd" clip-rule="evenodd" d="M39.2658 16.5346C39.4884 15.7929 39.2658 15.2478 38.2071 15.2478H34.7062C33.816 15.2478 33.4059 15.7187 33.1834 16.238C33.1834 16.238 31.403 20.5773 28.8809 23.396C28.0649 24.2119 27.6941 24.4712 27.249 24.4712C27.0264 24.4712 26.7044 24.2119 26.7044 23.4702V16.5346C26.7044 15.6444 26.4461 15.2478 25.7041 15.2478H20.2028C19.6467 15.2478 19.3121 15.6609 19.3121 16.0525C19.3121 16.8964 20.5729 17.091 20.703 19.4645V24.62C20.703 25.7503 20.4989 25.9553 20.0538 25.9553C18.867 25.9553 15.9804 21.5963 14.268 16.6089C13.9324 15.6394 13.5958 15.2478 12.7011 15.2478H9.20028C8.20005 15.2478 8 15.7187 8 16.238C8 17.1653 9.18703 21.7643 13.5263 27.8467C16.4195 32.0002 20.4949 34.2522 24.2038 34.2522C26.4293 34.2522 26.7044 33.7521 26.7044 32.8907V29.7512C26.7044 28.751 26.9152 28.5514 27.6196 28.5514C28.1392 28.5514 29.0292 28.811 31.1064 30.8137C33.4799 33.187 33.871 34.2522 35.2064 34.2522H38.7072C39.7074 34.2522 40.2075 33.7521 39.919 32.7651C39.6034 31.7814 38.4701 30.3546 36.9663 28.6627C36.1503 27.6982 34.9263 26.6597 34.5557 26.1406C34.0363 25.4729 34.1846 25.1764 34.5557 24.5832C34.5557 24.5832 38.8207 18.5748 39.2658 16.5349V16.5346Z" fill="white"/>-->
<!--            </svg>-->
<!--        </li>-->
<!--        <li class="modal-authorization__link-item">-->
<!--            <svg class="modal-authorization__item-logo" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <rect width="48" height="48" rx="24" fill="#EE8208"/>-->
<!--                <path d="M23.9996 12.8402C25.8852 12.8402 27.419 14.374 27.419 16.2596C27.419 18.1436 25.8848 19.6774 23.9996 19.6774C22.1151 19.6774 20.5809 18.1436 20.5809 16.2596C20.5805 14.3736 22.1155 12.8402 23.9996 12.8402ZM23.9996 24.5152C28.5543 24.5152 32.2584 20.8124 32.2584 16.2596C32.2584 11.7044 28.5547 8 23.9996 8C19.4452 8 15.7408 11.7048 15.7408 16.2596C15.7408 20.8124 19.4452 24.5152 23.9996 24.5152ZM27.3407 31.2517C29.0397 30.8648 30.661 30.1934 32.1362 29.266C32.6793 28.9244 33.0644 28.3809 33.2068 27.7553C33.3492 27.1297 33.2373 26.4731 32.8956 25.93C32.7266 25.6609 32.5062 25.4276 32.247 25.2437C31.9878 25.0598 31.6949 24.9287 31.3851 24.8581C31.0752 24.7875 30.7544 24.7786 30.4411 24.832C30.1278 24.8855 29.8281 25.0001 29.5592 25.1695C26.1757 27.2966 21.821 27.295 18.4403 25.1695C18.1714 25.0001 17.8718 24.8854 17.5585 24.8319C17.2452 24.7785 16.9245 24.7873 16.6146 24.858C16.3048 24.9286 16.0119 25.0597 15.7527 25.2436C15.4936 25.4276 15.2732 25.6608 15.1043 25.93C14.7625 26.473 14.6504 27.1294 14.7926 27.755C14.9348 28.3807 15.3196 28.9242 15.8625 29.266C17.3376 30.1931 18.9586 30.8644 20.6572 31.2517L16.0404 35.8693C15.5867 36.3232 15.3319 36.9387 15.332 37.5804C15.3321 38.2222 15.5871 38.8376 16.041 39.2913C16.4949 39.745 17.1104 39.9998 17.7521 39.9997C18.3939 39.9996 19.0093 39.7446 19.463 39.2907L23.9988 34.7541L28.5373 39.2911C28.7617 39.5158 29.0282 39.6941 29.3216 39.8157C29.615 39.9374 29.9294 40 30.247 40C30.5646 40 30.8791 39.9374 31.1725 39.8157C31.4658 39.6941 31.7323 39.5158 31.9567 39.2911C32.1818 39.0667 32.3604 38.8001 32.4822 38.5066C32.6041 38.2131 32.6668 37.8984 32.6668 37.5806C32.6668 37.2628 32.6041 36.9481 32.4822 36.6546C32.3604 36.361 32.1818 36.0945 31.9567 35.8701L27.3407 31.2517Z" fill="white"/>-->
<!--            </svg>-->
<!--        </li>-->
<!--        <li class="modal-authorization__link-item">-->
<!--            <svg class="modal-authorization__item-logo" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <rect width="48" height="48" rx="24" fill="#4267B2"/>-->
<!--                <path d="M25.6029 39.9998V25.4031H30.5025L31.236 19.7145H25.6029V16.0825C25.6029 14.4356 26.0603 13.3131 28.4223 13.3131L31.4346 13.3117V8.22391C30.9134 8.15484 29.1254 8 27.0451 8C22.702 8 19.7286 10.6509 19.7286 15.5194V19.7147H14.8164V25.4033H19.7285V40L25.6029 39.9998Z" fill="white"/>-->
<!--            </svg>-->
<!--        </li>-->
<!--        <li class="modal-authorization__link-item">-->
<!--            <svg class="modal-authorization__item-logo" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <rect width="48" height="48" rx="24" fill="#1DA1F2"/>-->
<!--                <path d="M35.7625 18.8125C35.7625 19.075 35.7625 19.3375 35.7625 19.5625C35.7625 27.325 29.8375 36.2875 19.0375 36.2875C15.7 36.2875 12.625 35.3125 10 33.6625C10.45 33.7 10.9375 33.7375 11.3875 33.7375C14.125 33.7375 16.675 32.8 18.7 31.225C16.1125 31.1875 13.9375 29.4625 13.225 27.1375C13.6 27.2125 13.9375 27.25 14.35 27.25C14.875 27.25 15.4 27.175 15.8875 27.025C13.1875 26.5 11.1625 24.1375 11.1625 21.2875C11.1625 21.25 11.1625 21.25 11.1625 21.2125C11.95 21.6625 12.85 21.925 13.825 21.9625C12.25 20.9125 11.2 19.1125 11.2 17.05C11.2 15.9625 11.5 14.95 11.9875 14.0875C14.875 17.65 19.225 19.975 24.1 20.2375C23.9875 19.825 23.95 19.3375 23.95 18.8875C23.95 15.625 26.575 13 29.8375 13C31.525 13 33.0625 13.7125 34.1125 14.8375C35.4625 14.575 36.7 14.0875 37.8625 13.4125C37.4125 14.8 36.475 15.925 35.275 16.675C36.475 16.525 37.6 16.225 38.65 15.7375C37.9 16.9375 36.925 17.9875 35.7625 18.8125Z" fill="white"/>-->
<!--            </svg>-->
<!--        </li>-->
<!--        <li class="modal-authorization__link-item">-->
<!--            <svg class="modal-authorization__item-logo" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <rect width="48" height="48" rx="24" fill="#FF0000"/>-->
<!--                <path d="M29.9173 8H25.0687C20.3043 8 16.2639 11.6264 16.2639 18.6671C16.2639 22.8909 18.2206 26.005 21.7079 27.5412L15.2005 39.3175C14.9875 39.7021 15.2005 40 15.5406 40H18.5605C18.8157 40 18.9865 39.9151 19.0714 39.7021L24.9834 28.1389H27.1102V39.7021C27.1102 39.8292 27.2373 40 27.4075 40H30.045C30.3001 40 30.3851 39.8721 30.3851 39.6599V8.42656C30.3852 8.12788 30.2153 8 29.9173 8ZM27.11 25.4084H25.3237C22.5167 25.4084 19.7949 23.3604 19.7949 18.2404C19.7949 12.9062 22.3467 10.7305 24.9406 10.7305H27.1102V25.4084H27.11Z" fill="white"/>-->
<!--            </svg>-->
<!--        </li>-->
<!--        <li class="modal-authorization__link-item">-->
<!--            <svg class="modal-authorization__item-logo" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <rect width="48" height="48" rx="24" fill="#005FF9"/>-->
<!--                <path d="M28.8126 24C28.8126 26.6537 26.6537 28.8126 24 28.8126C21.3463 28.8126 19.1874 26.6537 19.1874 24C19.1874 21.3463 21.3463 19.1874 24 19.1874C26.6537 19.1874 28.8126 21.3463 28.8126 24ZM24 8C15.1771 8 8 15.1771 8 24C8 32.8229 15.1771 40 24 40C27.232 40 30.3486 39.0377 33.0126 37.2171L33.0583 37.1851L30.9029 34.68L30.8663 34.7029C28.816 36.0229 26.4411 36.72 24 36.72C16.9863 36.72 11.28 31.0137 11.28 24C11.28 16.9863 16.9863 11.28 24 11.28C31.0137 11.28 36.72 16.9863 36.72 24C36.72 24.9086 36.6183 25.8286 36.4206 26.7337C36.0183 28.3851 34.8617 28.8903 33.9943 28.824C33.1211 28.7531 32.0994 28.1314 32.0926 26.6091V25.4491V24C32.0926 19.5371 28.4629 15.9074 24 15.9074C19.5371 15.9074 15.9074 19.5371 15.9074 24C15.9074 28.4629 19.5371 32.0926 24 32.0926C26.168 32.0926 28.2011 31.2457 29.7337 29.704C30.6251 31.0914 32.0777 31.9611 33.7314 32.0937C33.8731 32.1051 34.0183 32.1109 34.1611 32.1109C35.3257 32.1109 36.4789 31.7211 37.4091 31.016C38.368 30.2869 39.0846 29.2343 39.48 27.9691C39.5429 27.7646 39.6594 27.2971 39.6594 27.2937L39.6629 27.2766C39.896 26.2617 40 25.2503 40 24C40 15.1771 32.8229 8 24 8Z" fill="white"/>-->
<!--            </svg>-->
<!--        </li>-->
<!--        <li class="modal-authorization__link-item">-->
<!--            <svg class="modal-authorization__item-logo" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <rect width="48" height="48" rx="24" fill="#EA4335"/>-->
<!--                <path d="M8.01003 24.0208C7.69024 15.6012 15.0651 7.82042 23.4932 7.71948C27.7888 7.3531 31.9679 9.02121 35.2187 11.7419C33.8852 13.2081 32.5284 14.6574 31.0791 16.0142C28.2173 14.2755 24.7717 12.9504 21.427 14.1272C16.0322 15.6633 12.7652 22.0329 14.7616 27.3105C16.4148 32.8224 23.1191 35.8473 28.3733 33.5318C31.094 32.5577 32.8877 30.0474 33.6749 27.35C30.5568 27.2879 27.438 27.3267 24.3199 27.2406C24.3121 25.3854 24.3043 23.5373 24.3121 21.6821C29.512 21.6743 34.7196 21.6588 39.9273 21.7054C40.2471 26.2509 39.5764 31.1154 36.6214 34.7637C32.575 39.9713 25.0992 41.4997 19.0176 39.4567C12.5633 37.3368 7.86955 30.8345 8.01003 24.0208Z" fill="white"/>-->
<!--            </svg>-->
<!--        </li>-->
<!--    </ul>-->
    <form class="authorization__form" action="">
        <div class="authorization__form-group">
            <svg class="authorization__input-icon" width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 0H19.5C19.7652 0 20.0196 0.105357 20.2071 0.292893C20.3946 0.48043 20.5 0.734784 20.5 1V17C20.5 17.2652 20.3946 17.5196 20.2071 17.7071C20.0196 17.8946 19.7652 18 19.5 18H1.5C1.23478 18 0.98043 17.8946 0.792893 17.7071C0.605357 17.5196 0.5 17.2652 0.5 17V1C0.5 0.734784 0.605357 0.48043 0.792893 0.292893C0.98043 0.105357 1.23478 0 1.5 0ZM18.5 4.238L10.572 11.338L2.5 4.216V16H18.5V4.238ZM3.011 2L10.561 8.662L18.002 2H3.011Z" fill="#777C86"/>
            </svg>
            <input class="authorization__form-input" type="email" placeholder="E-mail">
        </div>
        <div class="authorization__form-group">
            <svg class="authorization__input-icon password" width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5 7V5C13.5 3.67392 12.9732 2.40215 12.0355 1.46447C11.0979 0.526784 9.82608 0 8.5 0C7.17392 0 5.90215 0.526784 4.96447 1.46447C4.02678 2.40215 3.5 3.67392 3.5 5V7C2.70435 7 1.94129 7.31607 1.37868 7.87868C0.816071 8.44129 0.5 9.20435 0.5 10V17C0.5 17.7956 0.816071 18.5587 1.37868 19.1213C1.94129 19.6839 2.70435 20 3.5 20H13.5C14.2956 20 15.0587 19.6839 15.6213 19.1213C16.1839 18.5587 16.5 17.7956 16.5 17V10C16.5 9.20435 16.1839 8.44129 15.6213 7.87868C15.0587 7.31607 14.2956 7 13.5 7ZM5.5 5C5.5 4.20435 5.81607 3.44129 6.37868 2.87868C6.94129 2.31607 7.70435 2 8.5 2C9.29565 2 10.0587 2.31607 10.6213 2.87868C11.1839 3.44129 11.5 4.20435 11.5 5V7H5.5V5ZM14.5 17C14.5 17.2652 14.3946 17.5196 14.2071 17.7071C14.0196 17.8946 13.7652 18 13.5 18H3.5C3.23478 18 2.98043 17.8946 2.79289 17.7071C2.60536 17.5196 2.5 17.2652 2.5 17V10C2.5 9.73478 2.60536 9.48043 2.79289 9.29289C2.98043 9.10536 3.23478 9 3.5 9H13.5C13.7652 9 14.0196 9.10536 14.2071 9.29289C14.3946 9.48043 14.5 9.73478 14.5 10V17Z" fill="#777C86"/>
            </svg>
            <input class="authorization__form-input" type="password" placeholder="Пароль">
        </div>
        <div class="authorization__bottom-panel">
            <button class="authorization__btn-submit" type="submit">Войти</button>
            <a class="authorization__link-reset">Забыли пароль?</a>
        </div>
    </form>
</div>