#myCarousel {
  max-height: 450px;
  margin-bottom: 10px;
}

#myCarousel .carousel__slide {
  width: 100%;
  padding: 0;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
}
#myCarousel .carousel__dots {
  bottom: 30px !important;
  top: auto;
}

#myCarousel .carousel__dots .carousel__dot {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50%;
}

#myCarousel .carousel__dots .carousel__dot.is-selected:after {
  width: 10px;
  height: 10px;
  background-color: #003C5A;
}

#myCarousel .carousel__dots .carousel__dot:after {
  background-color: transparent;
}

#myCarousel .carousel__dots .carousel__dot:hover:after {
  background-color: #777C86;
}

#myCarousel .carousel__dots .carousel__dot:not(:last-child) {
  margin-right: 20px;
}

.help-text {
  font-family: Open Sans, serif;
  font-style: italic;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: #777C86;
}

@media (max-width: 330.98px) {
  .help-text {
    font-size: 9px;
  }
}