<div id="myCarousel" class="carousel">
    <% linkImage.forEach(item => { %>
            <div class="carousel__slide" data-source-title="<%=item.source%>">
                <img data-fancybox="gallery" data-lazy-src="<%=item.image%>" alt="">
            </div>
    <% }); %>
</div>
<p data-source-targer class="help-text">Источник фото: https://kudago.com/spb/place/mednyj-vsadnik/</p>
<script>
    const mainCarousel = new Carousel(document.querySelector("#myCarousel"), {
        on: {
            selectSlide: (carousel) => {
                var sourceText = document.querySelector("[data-source-targer]");
                var currentSlide = carousel.pages[carousel.page].slides[0];

                sourceText.textContent = sourceText.textContent = `Источник фото: ${currentSlide.$el.getAttribute('data-source-title')}`;
            }
        }
    });
</script>