// swiper
.swiper-pagination {
  bottom: 25px !important;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  opacity: 1;
  background-color: #FFFFFF;
  margin: 0 10px !important;
}

.swiper-pagination .swiper-pagination-bullet:hover {
  border: 3px solid #ffffff !important;
  background-color: #777C86 !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  border: 3px solid #ffffff;
  background-color: #003C5A;
}

.swiper-slide {
  height: 450px !important;
  border-radius: 10px;
}

.swiper-slide img {
  border-radius: 10px;
}

.modal .swiper-slide img {
  border-radius: 0;
}

.swipe-arrow {
  width: 50px !important;
  height: 50px !important;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
  z-index: 9999;
  cursor: pointer;
  opacity: .6;
}

.swipe-arrow:hover {
  opacity: 1;
}

.swipe-arrow:active {
  opacity: .9;
}

.swiper-arrow-next {
  right: 20px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.swiper-arrow-prev {
  left: 20px;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.help-text {
  font-family: Open Sans, serif;
  font-style: italic;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: #777C86;
  margin-top: 10px;
}

.swiper-container {
  overflow: hidden;
  position: relative;
}

.modal .swiper-pagination  {
  bottom: 20px!important;
}

@media (max-width: 330.98px) {
  .swiper-arrow-next {
    right: 10px;
  }

  .swiper-arrow-prev {
    left: 10px;
  }
  .help-text {
    font-size: 9px;
  }
}