<div class="modal-share-menu" data-modal-share-item >
    <ul class="modal-share-menu__items">
        <li class="modal-share-menu__item">
            <a class="modal-share-menu__item-link" href="#">
                <svg class="modal-share-menu__item-logo" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4952 5.88468C22.6482 5.37478 22.4952 5 21.7673 5H19.3605C18.7485 5 18.4666 5.32372 18.3136 5.68078C18.3136 5.68078 17.0895 8.66403 15.3556 10.6019C14.7946 11.1628 14.5397 11.3411 14.2337 11.3411C14.0807 11.3411 13.8593 11.1628 13.8593 10.6529V5.88468C13.8593 5.27266 13.6817 5 13.1716 5H9.38946C9.00712 5 8.7771 5.284 8.7771 5.55322C8.7771 6.13344 9.64389 6.26719 9.73329 7.899V11.4434C9.73329 12.2204 9.59301 12.3614 9.287 12.3614C8.47109 12.3614 6.4865 9.36458 5.30922 5.93573C5.07851 5.26922 4.84712 5 4.232 5H1.82519C1.13753 5 1 5.32372 1 5.68078C1 6.31825 1.81608 9.48011 4.79932 13.6618C6.78838 16.5173 9.59026 18.0655 12.1401 18.0655C13.6701 18.0655 13.8593 17.7217 13.8593 17.1295V14.9711C13.8593 14.2834 14.0042 14.1462 14.4885 14.1462C14.8457 14.1462 15.4575 14.3247 16.8856 15.7015C18.5175 17.3332 18.7863 18.0655 19.7044 18.0655H22.1112C22.7988 18.0655 23.1427 17.7217 22.9443 17.0432C22.7273 16.3669 21.9482 15.3859 20.9143 14.2227C20.3533 13.5597 19.5118 12.8457 19.257 12.4888C18.9 12.0298 19.0019 11.8259 19.257 11.4181C19.257 11.4181 22.1892 7.28733 22.4952 5.88485V5.88468Z" fill="#5181B8"/>
                </svg>
                <span class="modal-share-menu__item-text">Вконтакте</span>
            </a>
        </li>
        <li class="modal-share-menu__item">
            <a class="modal-share-menu__item-link" href="#">
                <svg class="modal-share-menu__item-logo" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.4157 22.9999V12.9646H16.7842L17.2885 9.05373H13.4157V6.55673C13.4157 5.42446 13.7302 4.65275 15.354 4.65275L17.425 4.65179V1.15394C17.0667 1.10645 15.8374 1 14.4073 1C11.4214 1 9.37716 2.8225 9.37716 6.1696V9.05383H6V12.9647H9.37705V23L13.4157 22.9999Z" fill="#4267B2"/>
                </svg>
                <span class="modal-share-menu__item-text">Facebook</span>
            </a>
        </li>
        <li class="modal-share-menu__item">
            <a class="modal-share-menu__item-link" href="#">
                <svg class="modal-share-menu__item-logo" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.1781 4.22678C13.4352 4.22678 14.4577 5.24931 14.4577 6.50639C14.4577 7.76242 13.4349 8.78495 12.1781 8.78495C10.9218 8.78495 9.899 7.76242 9.899 6.50639C9.89874 5.24904 10.9221 4.22678 12.1781 4.22678ZM12.1781 12.0101C15.2146 12.0101 17.684 9.54157 17.684 6.50639C17.684 3.46963 15.2149 1 12.1781 1C9.14186 1 6.67223 3.46989 6.67223 6.50639C6.67223 9.54157 9.14186 12.0101 12.1781 12.0101ZM14.4055 16.5011C15.5382 16.2432 16.6191 15.7956 17.6025 15.1774C17.9646 14.9496 18.2213 14.5873 18.3163 14.1702C18.4112 13.7531 18.3366 13.3154 18.1088 12.9534C17.9961 12.7739 17.8492 12.6184 17.6764 12.4958C17.5036 12.3732 17.3083 12.2858 17.1018 12.2387C16.8952 12.1916 16.6813 12.1857 16.4725 12.2214C16.2636 12.257 16.0638 12.3334 15.8845 12.4463C13.6289 13.8644 10.7257 13.8634 8.47194 12.4463C8.29267 12.3334 8.09289 12.2569 7.88404 12.2213C7.67519 12.1857 7.46136 12.1916 7.25479 12.2386C7.04822 12.2857 6.85296 12.3731 6.6802 12.4957C6.50743 12.6184 6.36054 12.7739 6.24793 12.9534C6.02008 13.3153 5.94532 13.753 6.04011 14.17C6.13491 14.5871 6.39148 14.9494 6.7534 15.1774C7.73678 15.7954 8.81746 16.2429 9.94987 16.5011L6.87199 19.5795C6.56952 19.8821 6.39964 20.2924 6.39971 20.7203C6.39978 21.1481 6.56981 21.5584 6.87239 21.8609C7.17496 22.1633 7.5853 22.3332 8.01313 22.3331C8.44096 22.3331 8.85124 22.163 9.15371 21.8605L12.1776 18.8361L15.2033 21.8607C15.3529 22.0105 15.5305 22.1294 15.7261 22.2105C15.9217 22.2916 16.1313 22.3333 16.3431 22.3333C16.5548 22.3333 16.7644 22.2916 16.96 22.2105C17.1556 22.1294 17.3333 22.0105 17.4829 21.8607C17.6329 21.7111 17.752 21.5334 17.8332 21.3377C17.9144 21.142 17.9562 20.9323 17.9562 20.7204C17.9562 20.5085 17.9144 20.2987 17.8332 20.103C17.752 19.9074 17.6329 19.7296 17.4829 19.5801L14.4055 16.5011Z" fill="#EE8208"/>
                </svg>
                <span class="modal-share-menu__item-text">Одноклассники</span>
            </a>
        </li>
        <li class="modal-share-menu__item">
            <a class="modal-share-menu__item-link" href="#">
                <svg class="modal-share-menu__item-logo" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.657 14.828L16.243 13.414L17.657 12C18.0285 11.6286 18.3231 11.1876 18.5241 10.7023C18.7252 10.217 18.8286 9.69681 18.8286 9.1715C18.8286 8.6462 18.7252 8.12605 18.5241 7.64073C18.3231 7.15542 18.0285 6.71445 17.657 6.343C17.2856 5.97156 16.8446 5.67691 16.3593 5.47589C15.874 5.27487 15.3538 5.1714 14.8285 5.1714C14.3032 5.1714 13.7831 5.27487 13.2977 5.47589C12.8124 5.67691 12.3715 5.97156 12 6.343L10.586 7.757L9.17201 6.343L10.586 4.929C11.7143 3.81892 13.2356 3.19966 14.8184 3.2061C16.4012 3.21255 17.9174 3.84418 19.0366 4.96341C20.1558 6.08265 20.7875 7.5988 20.7939 9.18162C20.8004 10.7644 20.1811 12.2857 19.071 13.414L17.657 14.828ZM14.828 17.657L13.414 19.071C12.8585 19.6356 12.1968 20.0846 11.4669 20.3922C10.737 20.6998 9.95343 20.8598 9.16139 20.863C8.36936 20.8662 7.58452 20.7126 6.85215 20.411C6.11979 20.1094 5.45438 19.6658 4.89432 19.1057C4.33426 18.5456 3.89063 17.8802 3.58902 17.1479C3.28741 16.4155 3.13379 15.6307 3.13701 14.8386C3.14024 14.0466 3.30025 13.263 3.60781 12.5331C3.91538 11.8033 4.36441 11.1415 4.92901 10.586L6.34301 9.172L7.75701 10.586L6.34301 12C5.97157 12.3714 5.67692 12.8124 5.4759 13.2977C5.27488 13.783 5.17141 14.3032 5.17141 14.8285C5.17141 15.3538 5.27488 15.874 5.4759 16.3593C5.67692 16.8446 5.97157 17.2856 6.34301 17.657C6.71446 18.0284 7.15543 18.3231 7.64074 18.5241C8.12605 18.7251 8.64621 18.8286 9.17151 18.8286C9.69681 18.8286 10.217 18.7251 10.7023 18.5241C11.1876 18.3231 11.6286 18.0284 12 17.657L13.414 16.243L14.828 17.657ZM14.828 7.757L16.243 9.172L9.17201 16.242L7.75701 14.828L14.828 7.758V7.757Z" fill="#777C86"/>
                </svg>
                <span class="modal-share-menu__item-text">Скопировать</span>
            </a>
        </li>
    </ul>
</div>