<div class="poll-content__container">
    <h1 class="content__title">
        Как назвать сквер в Самаре?
    </h1>
    <p class="content__text">
        Страница с описанием проекта для сайта является таким же обязательным атрибутом, как логотип или контакты.
        Причем, по мнению многих руководителей продуктов, первое влияет на успешный старт гораздо сильнее всего
        остального.<br/><br/>
        Компании, в зависимости от их текущего состояния, используют страницы с описанием проекта в разных целях. Часто,
        по мере развития бизнеса, эта цель трансформируется. Однако раздел «О сайте» при правильном использовании всегда
        остается эффективным инструментом для работы с аудиторией проекта.
    </p>
</div>
<div>
    <% var dataQuestion = [
        {
            title: "А какой вариант выберите вы?",
            imageQuestion: true,
            optionQuestion: "",
            list: [
                {
                    option: "static/Rectangle 611.png",
                    answer: "«Проект №1»"
                },
                {
                    option: "static/Rectangle 611.png",
                    answer: "«Проект №2»"
                },
                {
                    option: "static/Rectangle 611.png",
                    answer: "«Проект №3»"
                },
                {
                    option: "static/Rectangle 611.png",
                    answer: "«Проект №4»"
                },
                {
                    option: "static/Rectangle 611.png",
                    answer: "«Проект №5»"
                }
            ]
        },
        {
            title: "Второй вариант вопроса?",
            imageQuestion: false,
            optionQuestion: "Страница с описанием проекта для сайта является таким же обязательным атрибутом, как логотип или контакты. Причем, по мнению многих руководителей продуктов, первое влияет на успешный старт гораздо сильнее всего остального.",
            list: [
                {
                    option: "Image Url",
                    answer: "«Проект №1»"
                },
                {
                    option: "Image Url",
                    answer: "«Проект №2»"
                },
                {
                    option: "Image Url",
                    answer: "«Проект №3»"
                },
                {
                    option: "Image Url",
                    answer: "«Проект №4»"
                },
                {
                    option: "Image Url",
                    answer: "«Проект №5»"
                }
            ]
        },
    ] %>
    <%- include('poll-Item/poll-Item', {dataQuestion}); -%>
</div>


