<div class="bread-crumbs">
    <ul class="bread-crumbs__list">
        <li class="bread-crumbs__item">
            <a class="bread-crumbs__item-link" href="#">Все памятники</a>
        </li>
        <li class="bread-crumbs__item">
            <a class="bread-crumbs__item-link" href="#">Личности</a>
        </li>
        <li class="bread-crumbs__item">
            <a class="bread-crumbs__item-link" href="#">ПетрI</a>
        </li>
    </ul>
</div>