<div class="about-after__container">
    <div class="about-author-content">
        <div class="about-author-content__container">
            <h1 class="content__title">
                Как назвать сквер в Самаре?
            </h1>
            <p class="content__text">
                Страница с описанием проекта для сайта является таким же обязательным атрибутом, как логотип или контакты.
                Причем, по мнению многих руководителей продуктов, первое влияет на успешный старт гораздо сильнее всего
                остального.<br/><br/>
                Компании, в зависимости от их текущего состояния, используют страницы с описанием проекта в разных целях. Часто,
                по мере развития бизнеса, эта цель трансформируется. Однако раздел «О сайте» при правильном использовании всегда
                остается эффективным инструментом для работы с аудиторией проекта.
            </p>
        </div>
        <div class="about-author-content-list__container">
            <h4 class="content__title">
                Пример оформления списка:
            </h4>
            <ul class="content__list">
                <li class="content__list-item content__text">Вероятность, что клиент не уйдет из магазина с пустыми руками, повышается. Такие предложения отлично стимулируют продажи.</li>
                <li class="content__list-item content__text">«Эльдорадо» проводит акции не только за свой счет. В большинстве случаев половину затрат берет на себя поставщик.</li>
                <li class="content__list-item content__text">Банковские организации платят магазину за возможность кредитовать клиентов в торговой точке. Иногда банки отстегивают процент за каждый оформленный кредит.</li>
            </ul>
        </div>
    </div>
    <div class="about-after-form">
        <%- include('../content-block/forms/aboutAurhorForm/aboutAurhorForm'); -%>
    </div>
</div>
