.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.75);
  z-index: 9999;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 550px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99999999;
  -webkit-box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.modal__cross {
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #E0E4EB;
  cursor: pointer;
  z-index: 20;
}

.modal__cross:hover path {
  fill: #777C86;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 576.98px) {
  .modal {
    max-width: 500px;
    padding: 10px;
  }
}
