// panel
.detail-panel {
  margin: 20px 0;
  position: relative;
}

.detail-panel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.detail-panel__list:first-child {
  margin-right: 10px;
}

.detail-panel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.detail-panel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.detail-panel__item.information,
.detail-panel__item.information svg {
  cursor: default;
}

.detail-panel__item:not(:last-child) {
  margin-right: 15px;
}

.detail-panel__logo {
  margin-right: 4px;
}

.detail-panel__count {
  font-size: 12px;
  color: #777C86;
}

//panel effects
.detail-panel__item:not(.detail-panel__item.information):hover .detail-panel__count{
  color: #003C5A;
}

.detail-panel__item:not(.detail-panel__item.information):hover path {
  fill: #003C5A;
}

.detail-panel__item:not(.detail-panel__item.information):active {
  -webkit-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9);
}

// list
.detail-content-list__container {
  margin-bottom: 30px;
  margin-top: 30px;
}

.detail-info__time-create {
  font-size: 14px;
  color: #777C86;
  padding-right: 10px;
  margin-right: 10px;
  position: relative;
}

.detail-info__time-create::before {
  content: " ";
  position: absolute;
  height: 18px;
  width: 1px;
  background-color: #BDBDBD;
  right: 0;
}

.detail-info__container {
  margin: 40px 0;
}

.detail-info__author-name {
  font-size: 14px;
  color: #777C86;
}

.detail-map {
  margin: 40px 0;
}

.detail-content__container .content__text {
  margin-bottom: 16px;
}

.detail-content__slider {
  margin: 40px -10px;
  padding: 0 10px;
  position: relative;
}

.detail-panel.top .modal-share-menu {
  top: 30px;
  bottom: auto;
}

@media (max-width: 418.98px) {
  .detail-panel__list:first-child {
    margin-bottom: 20px;
  }
}