<div class="about__container">
    <div class="about-content__container">
        <h1 class="content__title">
            О проекте «Гранит Памяти»
        </h1>
        <p class="content__text">
            Страница с описанием проекта для сайта является таким же обязательным атрибутом, как логотип или контакты.
            Причем, по мнению многих руководителей продуктов, первое влияет на успешный старт гораздо сильнее всего
            остального.
        </p>
        <p class="content__text">
            Компании, в зависимости от их текущего состояния, используют страницы с описанием проекта в разных целях.
            Часто, по мере развития бизнеса, эта цель трансформируется. Однако раздел «О сайте» при правильном
            использовании всегда остается эффективным инструментом для работы с аудиторией проекта.
        </p>
    </div>
    <% let linkImage = [
        {image: "static/Rectangle 60.png", sourceText: "Источник фото1: https://kudago.com/spb/place/mednyj-vsadnik/" },
        {image: "static/Rectangle 61.png", sourceText: "Источник фото2: https://kudago.com/spb/place/mednyj-vsadnik/" },
        {image: "static/Rectangle 62.png", sourceText: "Источник фото3: https://kudago.com/spb/place/mednyj-vsadnik/" },
        {image: "static/Rectangle 63.png", sourceText: "Источник фото4: https://kudago.com/spb/place/mednyj-vsadnik/" },
        {image: "static/Rectangle 64.png", sourceText: "Источник фото5: https://kudago.com/spb/place/mednyj-vsadnik/" }
    ] %>
    <%- include('../content-block/slider/swiper', {linkImage}); -%>
    <div class="about-content__container">
        <h2 class="content__title">Команда рассказывает о проекте</h2>
        <p class="content__text">
            Описание проекта должно завлекать посетителя с первого же просмотра. «Когда мы делали «Теории и Практики», мы
            очень много сил потратили на about, — рассказывает основатель <a href="#">«Теории и Практики»</a> и Сoub Антон Гладкобородов,
            — Сам сайт в первом релизе был очень простой (листинг лекций по тематикам и все), но редакцию я замучал и они
            переписывали about 8 раз».</p>
        <p class="content__text">
            Для описания «Теориии и Практики» команда хотела использовать придуманное ими слово edutainment (entertainment
            + education) и строить рассказ об идеологии сервиса вокруг этого. «Но каждый раз к тексту можно было
            придраться — сторонний человек просто не поверил бы в искренность, в тексте был какой-то формализм или
            заигрывание», — рассказывает Антон.
        </p>
    </div>
    <div class="about-content-list__container">
        <h4 class="content__title">
            Пример оформления списка:
        </h4>
        <ul class="content__list">
            <li class="content__list-item content__text">Вероятность, что клиент не уйдет из магазина с пустыми руками, повышается. Такие предложения отлично стимулируют продажи.</li>
            <li class="content__list-item content__text">«Эльдорадо» проводит акции не только за свой счет. В большинстве случаев половину затрат берет на себя поставщик.</li>
            <li class="content__list-item content__text">Банковские организации платят магазину за возможность кредитовать клиентов в торговой точке. Иногда банки отстегивают процент за каждый оформленный кредит.</li>
        </ul>
    </div>
    <div class="about-content__container">
        <h2 class="content__title">Ответы на вопросы</h2>
        <p class="content__text">
            Доехать до Медного всадника можно метрополитеном. Сходите на станции «Адмиралтейская» и, оказавшись на Малой
            Морской улице, сворачиваете влево и идете мимо Исаакиевского собора. Затем от него поворачиваете направо и
            идете к Александровскому саду. Сенатская площадь с установленным на ней памятником находится за садом.
        </p>
        <% let data = { text: "Бывает лед сильней огня, зима — порой длиннее лета, бывает ночь длиннее дня и тьма вдвойне сильнее света. Бывает сад громаден, густ, а вот плодов совсем не снимешь. Так берегись холодных чувств, не то, смотри, совсем застынешь."} %>
        <%- include('../content-block/note/note', {data}); -%>
        <p class="content__text">
            Или, если не хотите идти пешком, по выходу на станции «Невский проспект» пересаживаетесь в троллейбус (номера
            маршрутов: 1, 5, 10, 11 и 22), выходите на остановке «Почтамтский переулок» и возвращаетесь назад к
            Конногвардейскому бульвару, преодолев пешим ходом около 500 метров.
        </p>
    </div>
    <% let dataQuestion = {
        title: "Ответы на вопросы",
        listQuestion: [
            {
                questionTitle: "Пример вопроса в одну строку?",
                questionText: "При подготовке ответов на вопросы, учитывайте, что хороший FAQ может не только отвечать на вопросы, но и убирать возражения, возникающие у потенциального клиента."
            },
            {
                questionTitle: "Пример второго вопроса в одну строку?",
                questionText: "При подготовке ответов на вопросы, учитывайте, что хороший FAQ может не только отвечать на вопросы, но и убирать возражения, возникающие у потенциального клиента."
            },
            {
                questionTitle: "Пример третьего вопроса в две строки. Текст в две строки, примерный. Такой вопрос будет выглядеть примерно так?",
                questionText: "Идеальный FAQ должен быть кратким (с минимальным количеством вопросов) и компактным, чтобы в нём было легко ориентироваться и все ответы на вопросы должны располагаться на одной странице с доступностью в один клик. Это можно реализовать, создав небольшие блоки «Вопрос-ответ» на страницах каждой услуги."
            },
            {
                questionTitle: "Пример второго вопроса в одну строку?",
                questionText: "При подготовке ответов на вопросы, учитывайте, что хороший FAQ может не только отвечать на вопросы, но и убирать возражения, возникающие у потенциального клиента."
            },
            {
                questionTitle: "Пример второго вопроса в одну строку?",
                questionText: "При подготовке ответов на вопросы, учитывайте, что хороший FAQ может не только отвечать на вопросы, но и убирать возражения, возникающие у потенциального клиента."
            },
            {
                questionTitle: "Пример третьего вопроса в две строки. Текст в две строки, примерный. Такой вопрос будет выглядеть примерно так?",
                questionText: "При подготовке ответов на вопросы, учитывайте, что хороший FAQ может не только отвечать на вопросы, но и убирать возражения, возникающие у потенциального клиента."
            }
        ]
    }%>
    <%- include('../content-block/question/question', {dataQuestion}); -%>
    <%- include('../content-block/forms/aboutForm'); -%>
</div>