.about-content__container .content__text {
  margin-bottom: 16px;
}

.about-content-list__container {
  margin-bottom: 30px;
  margin-top: 30px;
}
.detail-content__slider {
  margin: 40px -10px;
  position: relative;
}