.mini-article-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 15px rgba(93, 125, 142, 0.3);
  box-shadow: 0 2px 15px rgba(93, 125, 142, 0.3);
  border-radius: 10px;
  max-width: 370px;
}

.mini-article-card__item:hover {
  -webkit-box-shadow: 0 2px 10px rgba(93, 125, 142, 0.5);
  box-shadow: 0 2px 10px rgba(93, 125, 142, 0.5);
}

.mini-article-card__content-container {
  padding: 20px 25px 28px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

// bread crumbs
.mini-article-card__item .content-category__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mini-article-card__item .content-category__item-link {
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #777C86;
  position: relative;
  cursor: pointer;
}

.mini-article-card__item .content-category__item-link:not(:first-child) {
  padding-left: 24px;
}

.mini-article-card__item .content-category__triplets {
  background-color: transparent;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.mini-article-card__item .content-category__item-link:not(:first-child):after {
  content: "";
  background: #C4C4C4;
  border-radius: 50%;
  position: absolute;
  width: 4px;
  height: 4px;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mini-card-content-category__items {
  height: 20px;
  overflow: hidden;
}

// bread crumbs effects
.mini-article-card__item:hover .content-category__item-link:last-child {
  color: #003C5A;
}

.content-category__triplets:hover {
  background-color: #F2F2F2;
}

.content-category__triplets:active {
  background-color: #FFFFFF !important;
}

// content
.mini-menu__title {
  margin: 15px 0;
  line-height: 20px;
  font-size: 24px;
}

.mini-menu__text {
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

// footer panel
.mini-article-card__footer-panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 17px;
}

.mini-article-card__footer-panel .footer-panel__time-create {
  flex: 1;
  font-size: 12px;
  line-height: 14px;
  color: #777C86;
}

.mini-article-card__footer-panel .footer-panel__action-list {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.mini-article-card__footer-panel .footer-panel__action-item {
  display: flex;
  align-items: center;
}

.mini-article-card__footer-panel .footer-panel__action-item:not(:last-child) {
  margin-right: 14px;
}

.footer-panel__action-item:not(.footer-panel__action-item.default):hover .footer-panel__action-counter,
.footer-panel__action-item:not(.footer-panel__action-item.default):hover .footer-panel__action-icon path {
  color: #003C5A;
  fill: #003C5A;
}

.footer-panel__action-item:not(.footer-panel__action-item.default):active .footer-panel__action-icon path {
  fill: #003C5A;
  transform: scale(.9);
}

.mini-article-card__footer-panel .footer-panel__action-counter {
  cursor: pointer;
  font-size: 12px;
  color: #777C86;
  margin-left: 5px;
}

.mini-article-card__time-create {
  font-size: 12px;
  line-height: 14px;
  color: #777C86;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 16px;
  margin-right: 10px;
}

.mini-article-card__image {
  border-radius: 10px 10px 0 0;
}

@media (max-width: 770.98px) {
  .mini-article-card__item {
    max-width: 330px;
  }
  .mini-article-card__image {
    width: 100%;
  }
}

@media (max-width: 577.98px) {
  .mini-article-card__time-create {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2
  }
  .mini-footer-panel__items {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .mini-article-card__item {
    max-width: 100%;
  }
  .mini-menu__text {
    -webkit-line-clamp: 4;
  }
}

@media (max-width: 400.98px) {
  .mini-article-card__item {
    max-width: 100%;
  }
  .mini-menu__text {
    -webkit-line-clamp: 7;
  }
  .mini-article-card__content-container {
    padding: 19px 20px 18px 20px;
  }
}