.main-article-card__item {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 2px 15px rgba(93, 125, 142, 0.3);
  border-radius: 10px;
}

// bread crumbs
.main-article-card__item .content-category__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-article-card__item .content-category__item-link {
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #777C86;
  position: relative;
  cursor: pointer;
}

.main-article-card__item .content-category__item-link:not(:first-child) {
  padding-left: 24px;
}

.main-article-card__item .content-category__triplets {
  background-color: transparent;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

// bread crumbs effects
.content-category__triplets:hover {
  background-color: #F2F2F2;
}

.content-category__triplets:active {
  background-color: #FFFFFF;
}

.main-card-content-category__items {
  height: 20px;
  overflow: hidden;
}

.main-article-card__item .content-category__triplets .content-category__triplets-logo {
  position: absolute;
}

.main-article-card__item .content-category__item-link:not(:first-child):after {
  content: "";
  background: #C4C4C4;
  border-radius: 50%;
  position: absolute;
  width: 4px;
  height: 4px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

// content
.main-article-card__content-container {
  padding: 18px 25px 21px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-article-card__content {
  margin-top: 15px;
}

.main-menu__title {
  margin-bottom: 10px;
  font-size: 24px;
}

.main-menu__text {
  font-size: 14px;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// footer panel
.main-article-card__footer-panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card-footer-panel__items {
  display: flex;
  flex: 1;
  margin-top: 29px;
  justify-content: space-between;
}

.card-footer-panel__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card-footer-panel__item:not(:last-child) {
  margin-right: 14px;
}

.card-footer-panel__item-counter {
  font-size: 12px;
  color: #777C86;
  margin-left: 5px;
}

.main-article-card__time-create {
  font-size: 12px;
  line-height: 14px;
  color: #777C86;
  flex: 2;
  margin-top: 29px;
}

// footer panel effects

.card-footer-panel__item:hover path {
  fill: #003C5A;
}

.card-footer-panel__item svg:active {
  transform: scale(.9);
}

@media (max-width: 770.98px) {
  .main-article-card__image {
    width: 330px;
  }
}

@media (max-width: 700.98px) {
  .main-article-card__image {
    border-radius: 10px 10px 0 0;
  }
  .main-article-card__content-container {
    padding: 24px 25px 28px 25px;
  }
  .main-menu__text {
    -webkit-line-clamp: 7;
  }
  .main-article-card__item {
    flex-wrap: wrap;
  }
  .main-article-card__image {
    width: 100%;
  }
}

@media (max-width: 400.98px) {
  .footer-panel__item:not(:last-child) {
    margin-right: 11px;
  }
}