.header {
  margin: 25px 0;
  height: 56px;
  background-color: #FFFFFF;
  z-index: 999;
}

.header__container {
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 970px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 25px 0 15px;
}

.header__logo-text {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #003C5A;
  padding-top: 5px;
  max-width: 210px;
  width: 100%;
}

.header__wrapper-content {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  margin-right: 30px;
}

.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo-icon {
  margin-right: 30px;
  width: 158px;
}

.header__content-text {
  font-size: 14px;
  line-height: 18px;
  color: #777C86;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__social .social-item:not(:last-child) {
  margin-right: 20px;
}

// menu-burger
.header-side-menu-mobile__open-btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-side-menu-mobile__open-btn {
  background-color: #003C5A;
  border: 2px solid #003C5A;
}

// menu-burger effects
.header-side-menu-mobile__open-btn:hover path {
  fill: #003C5A;
}

.header-side-menu-mobile__open-btn:hover {
  background-color: #ffffff;
  border: 2px solid #003C5A;
}

@media (max-width: 860.98px) {
  .header {
    position: fixed;
    top: 0;
    padding: 20px 0 25px;
    height: 106px;
    width: 100%;
    margin: 0;
  }
  .header__content-text {
    display: none;
  }

  .header-side-menu-mobile__open-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__social {
    width: 65%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 770.98px) {
  .header__social .social-item:not(:last-child) {
    margin-right: 0;
  }
  .header__wrapper-content {
    max-width: 330px;
  }
  .header__container {
    padding: 0 40px;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__logo-text {
    font-size: 14px;
  }
}

@media (max-width: 630.98px) {
  .header__inner {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header__social {
    display: none;
  }
}

@media (max-width: 577.98px) {
  .header__container {
    padding: 0 35px;
  }
}

@media (max-width: 450.98px) {
  .header__logo-text {
    display: none;
  }
  .header__container {
    padding: 0 15px 0 0;
  }
}