.header {
  margin: 25px 0;
}

.header__container {
  width: 100%;
  align-items: center;
}

.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 40px;
}

.header__content-text {
  font-size: 14px;
  line-height: 18px;
  color: #777C86;
}

.header__social {
  display: flex;
  align-items: center;
}

.header__social .social-item:not(:last-child) {
  margin-right: 20px;
}