<nav class="footer__nav">
    <div class="wrapper-content footer__nav-inner">
        <ul class="footer__nav-menu">
            <li class="footer__nav-menu-item">
                <a class="nav__menu-link" href="#">О проекте</a>
            </li>
            <li class="footer__nav-menu-item">
                <a class="nav__menu-link" href="#">Благотворительность</a>
            </li>
            <li class="footer__nav-menu-item">
                <a class="nav__menu-link" href="#">Для авторов</a>
            </li>
            <li class="footer__nav-menu-item active">
                <a class="nav__menu-link" href="#">Реклама</a>
            </li>
        </ul>
    </div>
</nav>