.footer {
  background-color: #F2F2F2;
  padding: 0 39px;
  position: relative;
}
.footer__wrapper {
  max-width: 930px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  width: 100%;
  position: relative;
}

.footer__inner > div {
  display: flex;
  justify-content: space-between;
}

.footer__top {
  align-items: center;
}

.footer__bottom {
  margin-top: 30px;
}

.footer__lift-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 30%;
  margin-right: 3%;
}

.footer__logo-image {
  margin-right: 40px;
}

.footer__logo-text {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: #777C86;
  white-space: nowrap;
}

.footer__top-logo a {
  display: flex;
  align-items: center;
}

.footer__left-side-text {
  font-size: 14px;
  line-height: 18px;
  color: #777C86;
}

.footer__services .footer__services-link {
  display: block;
  font-size: 12px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #777C86;
}

.footer__link-in-shop {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #777C86;
  background: #E0E0E0;
  border-radius: 15px;
  width: 210px;
  padding: 8px 30px;
}

.footer__link-in-shop:hover {
  background-color: #003C5A;
  color: #ffffff;
  cursor: pointer;
}

.footer__link-all {
  width: 123px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #003C5A;
  border: 1px solid #003C5A;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
}

//address
.footer .location-address {
  display: flex;
  align-items: center;
}

.footer .location-address__value {
  font-weight: 500;
  font-size: 16px;
  text-decoration-line: underline;
  color: #003C5A;
  margin-left: 6px;
}

.footer .select__location-link {
  display: flex;
  align-items: center;
  width: 160px;
}

//address effects

.footer .location-address__container:hover .location-address__value {
  color: #961E00;
}

.footer .location-address__container:hover .location-address__icon path {
  fill: #961E00;
}

//menu
.footer__menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
  max-width: 300px;
  width: 100%;
}

.footer__menu-container {
  flex: 40%;
  margin-right: 5%;
}

.footer__menu-link {
  font-size: 14px;
  line-height: 30px;
  color: #003C5A;
}

.footer__top-location-menu {
  display: flex;
  justify-content: flex-start;
  flex: 40%;
  margin-right: 5%;
}

.footer__link-all-container {
  margin-right: 35px;
}

.footer__menu-item {
  width: 55%;
}

// logo
.footer__top-logo {
  display: flex;
  flex: 30%;
  margin-right: 3%;
}

//social
.footer__social-container {
  flex: 22%;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.footer__link-in-shop-container {
  flex: 22%;
}

@media (max-width: 860.98px) {
  .footer__menu-container,
  .footer__link-all-container{
    display: none;
  }
  .footer__logo-image {
    margin-right: 20px;
  }
  .footer__logo-text {
    width: 116px;
    font-size: 10px;
  }
  .footer__top-location-menu {
    flex: 30%;
    margin-right: 3%;
  }
  .footer__social-container {
    flex: 30%;
  }
  .footer__lift-side {
    flex-direction: row;
    flex: 70%;
    margin-right: 6%;
  }
  .footer__left-side-text {
    font-size: 12px;
    flex: 40%;
  }
  .footer__services {
    flex: auto;
  }
}