.footer {
  background-color: #F2F2F2;
  padding: 0 15px;
  position: relative;
}

.footer__wrapper {
  max-width: 930px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__inner > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__menu-container,
.footer__inner.desktop .footer__link-in-shop-container {
  margin-top: 36px;
}

.footer__inner-right {
  width: 100%;
  max-width: 210px;
}

.footer__left-text {
  font-size: 14px;
  line-height: 18px;
  color: #777C86;
}

.footer__inner-center {
  margin-right: 25px;
}

.footer__services {
  margin-top: auto;
}

.footer__lift-content {
  margin-top: 29px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__services .footer__services-link {
  display: block;
  font-size: 12px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #777C86;
}

.footer__link-in-shop {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #777C86;
  background: #E0E0E0;
  border-radius: 15px;
}

.footer__inner.desktop .footer__link-in-shop {
  padding: 8px 30px;
  width: 100%;
}

.footer__link-in-shop:hover {
  background-color: #003C5A;
  color: #ffffff;
  cursor: pointer;
}

.footer__link-all {
  width: 123px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #777C86;
  border: 1px solid #777C86;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
}

//address
.footer .location-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .location-address__value {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #777C86;
  margin-left: 6px;
}

.footer .location-address__icon path {
  fill: #777C86;
}

.footer .select__location-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.location-address__container {
  min-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

//address effects
.footer .location-address__container:hover .location-address__value {
  color: #961E00;
}

.footer .location-address__container:hover .location-address__icon path {
  fill: #961E00;
}

//menu
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 150px;
  width: 100%;
}

.footer__menu-link {
  font-size: 14px;
  line-height: 30px;
  color: #003C5A;
}

.footer__menu-link:hover {
  color: #961E00;
}

.footer__menu-link:active {
  font-weight: 500;
}

.footer__location-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.footer__link-all-container {
  margin-right: 35px;
}

.footer__link-all-container:hover .footer__link-all {
  color: #FFFFFF;
  background-color: #003C5A;
  border-radius: 20px;
}

.footer__link-all-container:active .footer__link-all {
  color: #003C5A;
  border-color: #003C5A;
  background-color: #ffffff;
  border-radius: 20px;
}

// logo
.footer__logo-image {
  margin-right: 40px;
}

.footer__logo-text {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: #777C86;
  white-space: nowrap;
}

.footer__left-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

//social
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__inner.mobile {
  display: none;
}


.footer__inner.mobile .footer__social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__inner.mobile .social-link svg {
  width: 48px;
  height: 48px;
}

.footer__inner.mobile .footer__social {
  margin-right: 30px;
  -webkit-box-flex: 55%;
  -ms-flex: 55%;
  flex: 55%;
  min-width: 230px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__inner.mobile .footer__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__inner.mobile .footer__link-in-shop-container {
  -webkit-box-flex: 20%;
  -ms-flex: 20%;
  flex: 20%;
}

.footer__inner.mobile .footer__bottom {
  margin-top: 30px;
}

@media (max-width: 860.98px) {
  .footer {
    padding: 0 39px;
  }

  .footer__menu-container,
  .footer__link-all-container {
    display: none;
  }
  .footer__logo-image {
    margin-right: 20px;
  }
  .footer__logo-text {
    font-size: 10px;
  }
  .footer .location-address__value {
    font-size: 14px;
  }
  .footer .location-address__icon {
    width: 18px;
    height: 21px;
  }
  .footer__left-logo {
    margin-right: 30px;
  }
  .footer__left-logo svg {
    height: 32px;
    width: 73px;
  }
  .footer__left-text {
    font-size: 11px;
    line-height: 14px;
    margin-right: 65px;
  }
  .footer__lift-content {
    position: absolute;
    bottom: 40px;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer__inner-center {
    width: 100%;
  }
}

@media (max-width: 740.98px) {
  .footer__left-text {
    margin-right: 30px;
  }
  .footer__inner-center {
    margin-right: 0;
  }
  .footer__left-logo {
    margin-right: 20px;
  }
}

@media (max-width: 630.98px) {
  .footer {
    padding: 0 33px;
  }
  .footer__inner.desktop {
    display: none;
  }
  .footer__inner.mobile {
    display: block;
    margin-bottom: 30px;
  }
  .footer__link-in-shop {
    padding: 10px 20px;
    border-radius: 24px;
  }
}

@media (max-width: 450.98px) {
  .footer {
    padding: 0 15px;
  }
  .footer__inner.mobile {
    margin-top: 30px;
  }
  .footer__inner.mobile .footer__social {
    margin-right: 0;
    width: 100%;
  }
  .footer__inner.mobile .footer__link-in-shop-container {
    text-align: center;
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    margin-top: 30px;
  }
  .footer__inner.mobile .footer__link-in-shop {
    padding: 8px 34px;
  }
  .footer__inner.mobile .footer__services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__services-link:first-child {
    margin-bottom: 5px;
  }
}