<footer class="footer" data-search-modal-container>
    <div class="footer__wrapper">
        <div class="footer__inner">
            <div class="footer__top">
                <div class="footer__top-logo">
                    <a href="#">
                        <svg class="footer__logo-image" width="101" height="44" viewBox="0 0 101 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M33 11.0085H40.3811V13.356H35.8366V21.1776H33V11.0085Z" fill="#777C86"/>
                            <path d="M46.3085 18.2076V21.1759H43.4719V11.0068H47.9936C48.5499 11.0068 49.0606 11.0974 49.529 11.2784C49.9942 11.4563 50.3976 11.7085 50.7359 12.0286C51.0742 12.3519 51.3377 12.7335 51.5263 13.1732C51.715 13.6162 51.8094 14.098 51.8094 14.6218C51.8094 15.1553 51.715 15.6403 51.5263 16.08C51.3377 16.5198 51.0774 16.8948 50.7456 17.2149C50.4138 17.5318 50.0137 17.7776 49.5485 17.9522C49.0833 18.1268 48.5791 18.2141 48.0326 18.2141H46.3085V18.2076ZM47.8635 15.8602C48.0131 15.8602 48.1562 15.8278 48.2896 15.7632C48.423 15.6985 48.5401 15.6112 48.6442 15.498C48.745 15.3848 48.8264 15.2555 48.8849 15.1068C48.9435 14.958 48.9695 14.7964 48.9695 14.6218C48.9695 14.4536 48.9402 14.292 48.8849 14.14C48.8264 13.988 48.7483 13.8555 48.6474 13.7391C48.5466 13.6259 48.4327 13.5321 48.2961 13.4642C48.166 13.3931 48.0229 13.3575 47.8732 13.3575H46.3085V15.8634H47.8635V15.8602Z" fill="#777C86"/>
                            <path d="M60.7245 19.8013H56.8502L56.3232 21.1787H53.3304L57.4683 11H60.1162L64.254 21.1787H61.258L60.7245 19.8013ZM57.7448 17.4733H59.8299L58.8833 15.0223L58.8085 14.6473H58.7792L58.6946 15.0223L57.7448 17.4733Z" fill="#777C86"/>
                            <path d="M67.3207 11.0068H70.1573V14.9774H74.0023V11.0068H76.8455V21.1791H74.0023V17.3184H70.1573V21.1759H67.3207V11.0068Z" fill="#777C86"/>
                            <path d="M80.3148 11.0068H83.1514V16.4583L87.4063 11.0068H89.8916V21.1791H87.055V15.7017L82.7741 21.1759H80.3148V11.0068Z" fill="#777C86"/>
                            <path d="M95.3604 13.3543H92.6604V11.0068H100.874V13.3543H98.1807V21.1759H95.3604V13.3543Z" fill="#777C86"/>
                            <path d="M39.7103 27.4986H35.836V35.3202H32.9994V25.1479H42.5307V35.3202H39.7103V27.4986Z" fill="#777C86"/>
                            <path d="M51.909 33.9434H48.0346L47.5077 35.3176H44.5149L48.6527 25.1421H51.3006L55.4385 35.3176H52.4457L51.909 33.9434ZM48.9292 31.6186H51.0144L50.0645 29.1644L49.9897 28.7926H49.9604L49.8758 29.1644L48.9292 31.6186Z" fill="#777C86"/>
                            <path d="M62.4499 32.8469L60.2541 29.6006V35.3204H57.4175V25.1482H59.9158L62.7979 29.1932L65.7386 25.1482H68.2077V35.3204H65.3808V29.6297L63.146 32.8437H62.4499V32.8469Z" fill="#777C86"/>
                            <path d="M75.0472 32.1834L73.5899 35.3165H70.4833L72.37 31.4365C71.9439 31.1293 71.6088 30.7381 71.3616 30.2692C71.1144 29.8004 70.9907 29.2669 70.9907 28.6752C70.9907 28.161 71.0916 27.689 71.29 27.2557C71.4917 26.8192 71.7617 26.4506 72.1065 26.1369C72.4481 25.8233 72.8515 25.5808 73.3134 25.4062C73.7753 25.2316 74.2665 25.1443 74.787 25.1443H78.9768V35.3165H76.1402V32.1834H75.0472ZM76.1467 29.8359V27.4982H74.852C74.7122 27.4982 74.5788 27.5305 74.4552 27.5887C74.3316 27.6502 74.2242 27.7375 74.1331 27.8442C74.0388 27.9509 73.9672 28.077 73.9119 28.2225C73.8566 28.3647 73.8306 28.5167 73.8306 28.6784C73.8306 28.8498 73.8599 29.005 73.9152 29.1472C73.9737 29.2895 74.0486 29.4091 74.1429 29.5126C74.2372 29.6161 74.3478 29.6937 74.4747 29.7519C74.5983 29.8101 74.7284 29.8392 74.8586 29.8392H76.1467V29.8359Z" fill="#777C86"/>
                            <path d="M83.7378 27.4989H81.0378V25.1482H89.2517V27.4989H86.5582V35.3204H83.7378V27.4989Z" fill="#777C86"/>
                            <path d="M91.2971 25.1482H94.1337V30.5997L98.3887 25.1482H100.874V35.3204H98.0373V29.8463L93.7564 35.3204H91.2971V25.1482Z" fill="#777C86"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1162 19.6914C21.8625 18.6922 21.4689 17.7578 20.9972 16.8621L12.0514 0L11.0137 0.546443L11.2122 0.921517C12.2792 3.12022 11.1081 4.84362 9.75809 6.41182C7.6046 8.80776 5.54871 10.9418 3.47004 13.231C-0.810902 17.955 -1.06789 24.1567 2.35101 28.8839C3.14149 29.9897 4.18245 30.6364 4.18245 30.6364C3.01137 27.4547 4.77449 25.3369 6.61894 23.274C8.60002 21.0591 10.7698 18.9897 12.6012 16.6617C14.4587 14.3013 15.4899 11.6628 15.376 8.77866L18.359 14.4015C19.3284 16.5453 18.1736 18.2363 16.8464 19.7754C14.6929 22.1714 12.637 24.3054 10.5583 26.5946C6.27413 31.3219 6.01714 37.5235 9.43929 42.2475C10.2298 43.3501 11.274 44 11.274 44C10.0997 40.8183 11.866 38.7005 13.7105 36.6376C15.6916 34.4195 17.8613 32.3533 19.6927 30.022C22.0707 27.0053 23.1019 23.5359 22.1162 19.6914Z" fill="#777C86"/>
                        </svg>
                        <p class="footer__logo-text">Памятники культуры<br/>России и СНГ</p>
                    </a>
                </div>
                <div class="footer__top-location-menu">
                    <div class="footer__link-all-container">
                        <a class="footer__link-all" href="#">Все памятники</a>
                    </div>
                    <div class="location-address__container">
                        <span class="select__location-link" data-search-modal-btn>
                            <svg class="location-address__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 23.728L5.636 17.364C4.37734 16.1054 3.52019 14.5017 3.17293 12.7559C2.82567 11.0101 3.00391 9.20047 3.6851 7.55595C4.36629 5.91142 5.51984 4.50582 6.99988 3.51689C8.47992 2.52796 10.22 2.00012 12 2.00012C13.78 2.00012 15.5201 2.52796 17.0001 3.51689C18.4802 4.50582 19.6337 5.91142 20.3149 7.55595C20.9961 9.20047 21.1743 11.0101 20.8271 12.7559C20.4798 14.5017 19.6227 16.1054 18.364 17.364L12 23.728ZM16.95 15.95C17.9289 14.971 18.5955 13.7238 18.8656 12.3659C19.1356 11.0081 18.9969 9.60064 18.4671 8.3216C17.9373 7.04256 17.04 5.94935 15.8889 5.18021C14.7378 4.41107 13.3844 4.00055 12 4.00055C10.6156 4.00055 9.26222 4.41107 8.11109 5.18021C6.95996 5.94935 6.06275 7.04256 5.53292 8.3216C5.00308 9.60064 4.86442 11.0081 5.13445 12.3659C5.40449 13.7238 6.07111 14.971 7.05 15.95L12 20.9L16.95 15.95ZM12 13C11.4696 13 10.9609 12.7893 10.5858 12.4143C10.2107 12.0392 10 11.5305 10 11C10 10.4696 10.2107 9.9609 10.5858 9.58583C10.9609 9.21076 11.4696 9.00004 12 9.00004C12.5304 9.00004 13.0391 9.21076 13.4142 9.58583C13.7893 9.9609 14 10.4696 14 11C14 11.5305 13.7893 12.0392 13.4142 12.4143C13.0391 12.7893 12.5304 13 12 13Z" fill="#003C5A"/>
                            </svg>
                            <span class="location-address__value">Санкт-Петербург</span>
                        </span>
                    </div>
                </div>
                <div class="footer__social-container">
                    <ul class="footer__social">
                        <li class="social-item">
                            <a class="social-link" href="#">
                                <svg class="social-link__vk" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="32" height="32" rx="16" fill="#5181B8"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M26.1772 11.023C26.3256 10.5286 26.1772 10.1652 25.4714 10.1652H23.1375C22.544 10.1652 22.2706 10.4791 22.1223 10.8253C22.1223 10.8253 20.9353 13.7182 19.2539 15.5973C18.71 16.1412 18.4627 16.3141 18.166 16.3141C18.0176 16.3141 17.8029 16.1412 17.8029 15.6468V11.023C17.8029 10.4296 17.6307 10.1652 17.1361 10.1652H13.4686C13.0978 10.1652 12.8748 10.4406 12.8748 10.7016C12.8748 11.2643 13.7153 11.3939 13.802 12.9763V16.4133C13.802 17.1668 13.666 17.3035 13.3692 17.3035C12.578 17.3035 10.6536 14.3975 9.51199 11.0725C9.28827 10.4262 9.06388 10.1652 8.46741 10.1652H6.13353C5.46671 10.1652 5.33334 10.4791 5.33334 10.8253C5.33334 11.4435 6.12469 14.5095 9.01754 18.5645C10.9463 21.3334 13.6633 22.8348 16.1359 22.8348C17.6195 22.8348 17.8029 22.5014 17.8029 21.9271V19.8341C17.8029 19.1673 17.9435 19.0342 18.4131 19.0342C18.7595 19.0342 19.3528 19.2073 20.7376 20.5424C22.32 22.1246 22.5807 22.8348 23.4709 22.8348H25.8048C26.4716 22.8348 26.805 22.5014 26.6126 21.8434C26.4023 21.1876 25.6468 20.2363 24.6442 19.1084C24.1002 18.4654 23.2842 17.7731 23.0371 17.427C22.6909 16.9819 22.7898 16.7842 23.0371 16.3888C23.0371 16.3888 25.8805 12.3832 26.1772 11.0232V11.023Z" fill="white"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social-item">
                            <a class="social-link" href="#">
                                <svg class="social-link__ok" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="32" height="32" rx="16" fill="#EE8208"/>
                                    <path d="M15.9999 8.56009C17.257 8.56009 18.2795 9.58262 18.2795 10.8397C18.2795 12.0957 17.2567 13.1183 15.9999 13.1183C14.7436 13.1183 13.7208 12.0957 13.7208 10.8397C13.7205 9.58236 14.7438 8.56009 15.9999 8.56009ZM15.9999 16.3435C19.0364 16.3435 21.5057 13.8749 21.5057 10.8397C21.5057 7.80294 19.0366 5.33331 15.9999 5.33331C12.9636 5.33331 10.494 7.8032 10.494 10.8397C10.494 13.8749 12.9636 16.3435 15.9999 16.3435ZM18.2273 20.8344C19.36 20.5765 20.4408 20.1289 21.4243 19.5107C21.7864 19.2829 22.0431 18.9206 22.138 18.5035C22.233 18.0864 22.1583 17.6487 21.9306 17.2867C21.8179 17.1072 21.671 16.9517 21.4982 16.8291C21.3254 16.7065 21.1301 16.6191 20.9235 16.572C20.717 16.525 20.5031 16.519 20.2943 16.5547C20.0854 16.5903 19.8856 16.6667 19.7063 16.7796C17.4507 18.1977 14.5475 18.1967 12.2937 16.7796C12.1144 16.6667 11.9147 16.5902 11.7058 16.5546C11.497 16.519 11.2831 16.5249 11.0766 16.572C10.87 16.6191 10.6747 16.7064 10.502 16.8291C10.3292 16.9517 10.1823 17.1072 10.0697 17.2867C9.84185 17.6486 9.7671 18.0863 9.86189 18.5033C9.95668 18.9204 10.2133 19.2828 10.5752 19.5107C11.5586 20.1287 12.6392 20.5762 13.7716 20.8344L10.6938 23.9128C10.3913 24.2154 10.2214 24.6258 10.2215 25.0536C10.2216 25.4814 10.3916 25.8917 10.6942 26.1942C10.9967 26.4966 11.4071 26.6665 11.8349 26.6664C12.2627 26.6664 12.673 26.4963 12.9755 26.1938L15.9993 23.1694L19.025 26.194C19.1746 26.3439 19.3523 26.4627 19.5479 26.5438C19.7435 26.6249 19.9531 26.6666 20.1648 26.6666C20.3766 26.6666 20.5862 26.6249 20.7818 26.5438C20.9774 26.4627 21.1551 26.3439 21.3047 26.194C21.4547 26.0444 21.5737 25.8667 21.655 25.671C21.7362 25.4754 21.778 25.2656 21.778 25.0537C21.778 24.8418 21.7362 24.632 21.655 24.4364C21.5737 24.2407 21.4547 24.063 21.3047 23.9134L18.2273 20.8344Z" fill="white"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social-item">
                            <a class="social-link" href="#">
                                <svg class="social-link__f" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="32" height="32" rx="16" fill="#4267B2"/>
                                    <path d="M17.0683 26.6666V16.9354H20.3347L20.8237 13.143H17.0683V10.7217C17.0683 9.62375 17.3732 8.87543 18.9479 8.87543L20.9561 8.87451V5.48265C20.6086 5.4366 19.4166 5.33337 18.0298 5.33337C15.1344 5.33337 13.1521 7.10064 13.1521 10.3463V13.1432H9.87729V16.9355H13.152V26.6667L17.0683 26.6666Z" fill="white"/>
                                </svg>
                            </a>
                        </li>
                        <li class="social-item">
                            <a class="social-link" href="#">
                                <svg class="social-link__inst" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="32" height="32" rx="16" fill="#262626"/>
                                    <path d="M12.6676 16C12.6676 14.1591 14.1595 12.6664 16.0004 12.6664C17.8413 12.6664 19.334 14.1591 19.334 16C19.334 17.8409 17.8413 19.3336 16.0004 19.3336C14.1595 19.3336 12.6676 17.8409 12.6676 16ZM10.8655 16C10.8655 18.836 13.1644 21.1349 16.0004 21.1349C18.8364 21.1349 21.1353 18.836 21.1353 16C21.1353 13.164 18.8364 10.8651 16.0004 10.8651C13.1644 10.8651 10.8655 13.164 10.8655 16ZM20.1386 10.6615C20.1385 10.8989 20.2088 11.1309 20.3406 11.3283C20.4723 11.5257 20.6597 11.6796 20.8789 11.7705C21.0982 11.8614 21.3394 11.8852 21.5722 11.839C21.805 11.7928 22.0189 11.6786 22.1868 11.5109C22.3547 11.3431 22.469 11.1293 22.5154 10.8966C22.5618 10.6638 22.5382 10.4225 22.4474 10.2032C22.3567 9.98392 22.203 9.79644 22.0057 9.6645C21.8084 9.53257 21.5764 9.4621 21.3391 9.462H21.3386C21.0205 9.46215 20.7154 9.58856 20.4904 9.81347C20.2654 10.0384 20.1389 10.3434 20.1386 10.6615ZM11.9604 24.1398C10.9855 24.0954 10.4555 23.933 10.1034 23.7958C9.63651 23.614 9.30339 23.3975 8.95315 23.0478C8.60291 22.698 8.38611 22.3652 8.20515 21.8983C8.06787 21.5463 7.90547 21.0162 7.86115 20.0413C7.81267 18.9872 7.80299 18.6706 7.80299 16.0001C7.80299 13.3296 7.81347 13.0138 7.86115 11.9589C7.90555 10.9839 8.06915 10.4549 8.20515 10.1018C8.38691 9.63496 8.60339 9.30184 8.95315 8.9516C9.30291 8.60136 9.63571 8.38456 10.1034 8.2036C10.4554 8.06632 10.9855 7.90392 11.9604 7.8596C13.0145 7.81112 13.3311 7.80144 16.0004 7.80144C18.6697 7.80144 18.9867 7.81192 20.0416 7.8596C21.0166 7.904 21.5456 8.0676 21.8987 8.2036C22.3655 8.38456 22.6987 8.60184 23.0489 8.9516C23.3991 9.30136 23.6151 9.63496 23.7969 10.1018C23.9342 10.4538 24.0966 10.9839 24.1409 11.9589C24.1894 13.0138 24.1991 13.3296 24.1991 16.0001C24.1991 18.6706 24.1894 18.9863 24.1409 20.0413C24.0965 21.0162 23.9333 21.5462 23.7969 21.8983C23.6151 22.3652 23.3987 22.6983 23.0489 23.0478C22.6991 23.3972 22.3655 23.614 21.8987 23.7958C21.5467 23.933 21.0166 24.0954 20.0416 24.1398C18.9875 24.1882 18.6709 24.1979 16.0004 24.1979C13.3299 24.1979 13.0142 24.1882 11.9604 24.1398ZM11.8776 6.06056C10.8131 6.10904 10.0856 6.27784 9.45035 6.52504C8.79243 6.78032 8.23547 7.1228 7.67891 7.67848C7.12235 8.23416 6.78075 8.792 6.52547 9.44992C6.27827 10.0856 6.10947 10.8126 6.06099 11.8772C6.01171 12.9434 6.00043 13.2843 6.00043 16C6.00043 18.7157 6.01171 19.0566 6.06099 20.1228C6.10947 21.1874 6.27827 21.9144 6.52547 22.5501C6.78075 23.2076 7.12243 23.7661 7.67891 24.3215C8.23539 24.877 8.79243 25.219 9.45035 25.475C10.0868 25.7222 10.8131 25.891 11.8776 25.9394C12.9444 25.9879 13.2847 26 16.0004 26C18.7161 26 19.057 25.9887 20.1232 25.9394C21.1879 25.891 21.9148 25.7222 22.5505 25.475C23.208 25.219 23.7654 24.8772 24.3219 24.3215C24.8785 23.7658 25.2194 23.2076 25.4754 22.5501C25.7226 21.9144 25.8922 21.1874 25.9399 20.1228C25.9883 19.0558 25.9996 18.7157 25.9996 16C25.9996 13.2843 25.9883 12.9434 25.9399 11.8772C25.8914 10.8126 25.7226 10.0852 25.4754 9.44992C25.2194 8.7924 24.8776 8.23504 24.3219 7.67848C23.7663 7.12192 23.208 6.78032 22.5513 6.52504C21.9148 6.27784 21.1878 6.10824 20.124 6.06056C19.0578 6.01208 18.7169 6 16.0012 6C13.2855 6 12.9444 6.01128 11.8776 6.06056Z" fill="white"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__lift-side">
                    <p class="footer__left-side-text">Пишем о историческом наследии <br/>в разных городах России</p>
                    <div class="footer__services">
                        <a class="footer__services-link" href="#">Политика конфиденциальности</a>
                        <a class="footer__services-link" href="#">Соглашение cookies</a>
                    </div>
                </div>
                <div class="footer__menu-container">
                    <ul class="footer__menu">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#">Личности</a>
                        </li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Военные</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Исторические</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Доп.пункт меню</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Доп.пункт меню</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Религиозные</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Персонажи</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Необычные</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Доп.пункт меню</a></li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="#">Доп.пункт меню</a></li>
                    </ul>
                </div>
                <div class="footer__link-in-shop-container">
                    <a class="footer__link-in-shop">войти в наш магазин</a>
                </div>
            </div>
        </div>
    </div>
    <% var dataLocation = {
        title: "Выберите город",
        listCity: [
            {title: "Москва"},
            {title: "Екатеринбург"},
            {title: "Краснодар"},
            {title: "Нижний Новгород"},
            {title: "Новосибирск"},
            {title: "Ростов-на-Дону"},
            {title: "Самара"},
            {title: "Санкт-Петербург"},
            {title: "Уфа"},
            {title: "Челябинск"}
        ]}; %>
    <%- include('../content-block/forms/location-search/locationSearch', {dataLocation}); -%>
</footer>