.edit-profile-form__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
}

.edit-profile-form__input {
  border: 1px solid #777C86;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  max-width: 290px;
  min-width: 290px;
  font-size: 16px;
  color: #777C86;
  padding: 11px 10px 11px 15px;
  margin-bottom: 10px;
}
