<div style="display:none;" class="author-card__edit-profile-container" data-edit-profile-card>
    <h3>Никнейм автора</h3>
    <div class="edit-profile-form__group">
        <div class="edit-profile-form__input-item">
            <input class="edit-profile-form__input" type="text" placeholder="Никнейм автора">
        </div>
        <div class="edit-profile-form__input-item">
            <input class="edit-profile-form__input" type="text" placeholder="Россия">
        </div>
        <div class="edit-profile-form__input-item">
            <input class="edit-profile-form__input" type="text" placeholder="Тольятти">
        </div>
        <div class="edit-profile-form__input-item">
            <input class="edit-profile-form__input" type="text" placeholder="avtor@mail.ru">
        </div>
    </div>
    <button class="btn" data-edit-profile-save-btn>Сохранить настройки</button>
</div>
<div style="display:none;" class="author-card__change-password-container" data-change-password-card>
    <h3>Сменить пароль</h3>
    <div class="edit-profile-form__group">
        <div class="edit-profile-form__input-item">
            <input class="edit-profile-form__input" type="password" placeholder="новый пароль">
        </div>
        <div class="edit-profile-form__input-item">
            <input class="edit-profile-form__input" type="password" placeholder="Повторите пароль">
        </div>
    </div>
    <button class="btn" data-change-password-save-btn>Сохранить настройки</button>
</div>