.location-search__modal {
  display: none;
  position: absolute;
  top: 50px;
  left: 90px;
  width: 554px;
  background-color: #FFFFFF;
  z-index: 99;
  -webkit-box-shadow: 0 2px 15px rgba(93, 125, 142, 0.3);
  box-shadow: 0 2px 15px rgba(93, 125, 142, 0.3);
  border-radius: 10px;
}

.location-search__modal.open {
  display: block;
}

.location-search__close-modal-logo {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99999;
}

.location-search__close-modal-logo:hover path {
  fill: #777C86;
}

.location-search__inner {
  padding: 25px 15px 20px 0;
  position: relative;
}

.location-search__title {
  font-weight: 500;
  font-size: 24px;
  color: #003C5A;
  padding-left: 30px;
  margin-bottom: 25px;
  display: block;
}

.location-search__form__input-container {
  width: 76%;
}

.location-search__modal .location-search__form {
  margin: 0 15px 0 20px;
  display: flex;
}

.side-menu-mobile__header .location-search__country-head {
  padding: 7px 9px 7px 7px;
}

.side-menu-mobile__header .location-search__country-arrow {
  right: 8px;
}

.side-menu-mobile__header .location-search__country-list .location-search__country-item {
  padding: 5px 5px 5px 4px;
}

.location-search__city-items {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: 340px;
}

.location-search__city-items::-webkit-scrollbar {
  width: 7px;
  background-color: #F0F2F5;
}

.location-search__city-items::-webkit-scrollbar-thumb {
  background-color: #DEDEDE;
}

.location-search__city-item {
  padding: 0 30px;
  font-size: 14px;
  line-height: 35px;
  color: #003C5A;
  width: 100%;
  cursor: pointer;
}

.location-search__city-item:hover {
  background: #F0F2F5;
}

.location-search__city-item:active {
  background: #FFFFFF;
  color: #961E00;
}

.side-menu-mobile__header .location-search__modal {
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.footer .location-search__modal {
  top: auto;
  bottom: 92%;
  left: 40%;
  -webkit-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
}

// search input
.location-search__form {
  position: relative;
}

.location-search__input {
  padding: 6px 40px 6px 15px;
  border: 1px solid #777C86;
  border-radius: 18px;
  width: 100%;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #777C86;
}

.location-search__input:-moz-placeholder-shown {
  color: #BDBDBD;
  background-color: #F2F2F2;
  border-color: transparent;
  border-radius: 20px;
}

.location-search__input:-ms-input-placeholder {
  color: #BDBDBD;
  background-color: #F2F2F2;
  border-color: transparent;
  border-radius: 20px;
}

.location-search__input:placeholder-shown {
  color: #BDBDBD;
  background-color: #F2F2F2;
  border-color: transparent;
  border-radius: 20px;
}

.location-search__input:focus {
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 15px rgba(93, 125, 142, 0.3);
  box-shadow: 0 2px 15px rgba(93, 125, 142, 0.3);
  border-radius: 18px;
  color: #333333;
}

.location-search__submit {
  top: 7px;
  position: absolute;
  right: 10px;
}

//search input effects
.location-search__submit:hover {
  cursor: pointer;
}

.location-search__submit:hover path {
  fill: #777C86;
}

.location-search__country {
  margin-right: 20px;
  position: relative;
  width: 104px;
}

.location-search__country-head {
  width: 100%;
  height: 36px;
  border: 1px solid #D5DCE0;
  border-radius: 10px;
  padding: 7px 9px 7px 13px;
  cursor: pointer;
  position: relative;
}

.location-search__country-head.open {
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
}

.location-search__country-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  border: 1px solid #D5DCE0;
  border-radius: 0 0 10px 10px;
  padding: 2px 9px 7px 4px;
  flex-direction: column;
}

.location-search__country-list.active {
  display: flex;
  border-top: 0;
}

.location-search__country-list .location-search__country-item {
  margin: 10px 0;
  padding: 5px 5px 5px 9px;
  width: fit-content;
}

.location-search__country-list .location-search__country-item:hover {
  background-color: #F0F2F5;
  border-radius: 5px;
}

.location-search__country-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.location-search__country-prefix {
  margin-right: 8px;
  color: #777C86;
  font-size: 14px;
}

.location-search__country-logo {
  border-radius: 2px;
}

.location-search__country-arrow {
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
}

.location-search__country-head.open .location-search__country-arrow {
  transform: translateY(-50%) rotate(180deg);
}

@media (max-width: 380px) {
  .side-menu-mobile__header .location-search__country-prefix {
    margin-right: 2px;
    font-size: 12px;
  }

  .side-menu-mobile__header .location-search__country-logo {
    transform: scale(.8);
  }
}