.location-search__modal {
  display: none;
  position: absolute;
  top: 50px;
  left: 90px;
  width: 410px;
  background-color: #FFFFFF;
  z-index: 9999;
  -webkit-box-shadow: 0 2px 15px rgba(93, 125, 142, 0.3);
  box-shadow: 0 2px 15px rgba(93, 125, 142, 0.3);
  border-radius: 10px;
}

.location-search__modal.open {
  display: block;
}

.location-search__close-modal-logo {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99999;
}

.location-search__close-modal-logo:hover path {
  fill: #777C86;
}

.location-search__inner {
  padding: 25px 0 20px;
  position: relative;
}

.location-search__title {
  font-weight: 500;
  font-size: 24px;
  color: #003C5A;
  padding-left: 30px;
  margin-bottom: 25px;
  display: block;
}

.location-search__modal .location-search__form {
  margin: 0 20px;
}

.location-search__city-items {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: 340px;
}

.location-search__city-item {
  padding: 0 30px;
  font-size: 14px;
  line-height: 35px;
  color: #003C5A;
  width: 100%;
  cursor: pointer;
}

.location-search__city-item:hover {
  background: #F0F2F5;
}

.location-search__city-item:active {
  background: #FFFFFF;
  color: #961E00;
}

.side-menu-mobile__header .location-search__modal {
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.footer .location-search__modal {
  top: auto;
  bottom: 105%;
  left: 40%;
  -webkit-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  transform: translateX(-40%);
}

// search input
.location-search__form {
  position: relative;
}

.location-search__input {
  padding: 6px 40px 6px 15px;
  border: 1px solid #777C86;
  border-radius: 18px;
  width: 100%;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #777C86;
}

.location-search__input:-moz-placeholder-shown {
  color: #BDBDBD;
  background-color: #F2F2F2;
  border-color: transparent;
  border-radius: 20px;
}

.location-search__input:-ms-input-placeholder {
  color: #BDBDBD;
  background-color: #F2F2F2;
  border-color: transparent;
  border-radius: 20px;
}

.location-search__input:placeholder-shown {
  color: #BDBDBD;
  background-color: #F2F2F2;
  border-color: transparent;
  border-radius: 20px;
}

.location-search__input:focus {
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 15px rgba(93, 125, 142, 0.3);
  box-shadow: 0 2px 15px rgba(93, 125, 142, 0.3);
  border-radius: 18px;
  color: #333333;
}

.location-search__submit {
  top: 7px;
  position: absolute;
  right: 10px;
}

//search input effects
.location-search__submit:hover {
  cursor: pointer;
}

.location-search__submit:hover path {
  fill: #777C86;
}