<div class="article-tags">
    <ul class="article-tags__list">
        <li class="article-tags__title">Теги:</li>
        <li class="article-tags__item">#Санкт-Петербург</li>
        <li class="article-tags__item">#Личности</li>
        <li class="article-tags__item">#Монумент</li>
        <li class="article-tags__item">#Скульптура</li>
        <li class="article-tags__item">#Наконе</li>
        <li class="article-tags__item">#Император</li>
        <li class="article-tags__item">#ПетрI</li>
    </ul>
</div>