<div class="article-gallery__container">
    <div class="article-gallery__left">
        <img class="article-gallery__image" src="static/Rectangle 61.png" alt="" />
    </div>
    <div class="article-gallery__right">
        <img class="article-gallery__image" src="static/Rectangle 63.png" alt="" />
        <img class="article-gallery__image" src="static/Rectangle 64.png" alt="" />
    </div>
</div>