@import "../components/menu/header__nav/header__nav";
@import "../components/header/header";
@import "../components/footer/footer";
@import "../components/location-menu/location-Menu";
@import "../components/menu/side-menu/side-menu";
@import "../components/card/main-card/main-card";
@import "../components/card/mini-card/mini-card";
@import "../components/card/card-items/card-items";
@import "../components/menu/footer-nav/footer-nav";
@import "../components/content-block/note/note";
@import "../components/content-block/slider/swiper";
@import "../components/content-block/question/question";
@import "../components/content-block/forms/aboutForm";
@import "../components/content-block/forms/aboutAurhorForm/aboutAurhorForm";
@import "../components/content-block/ListTags/listTags";
@import "../components/content-block/gallery/gallery";
@import "../components/content-block/bread-crumbs/bread-crumbs";
@import "../components/modal/modal-share-menu/modal-share-menu";
@import "../components/modal/modal-category-menu/modal-category-menu";
@import "../components/detail/detail";
@import "../components/detail/detail-menu-links/menuLinks";
@import "../components/about/about";
@import "../components/content-block/detailList-menu-links/menuLinks";
@import "../components/content-block/forms/location-search/locationSearch";
@import "../components/content-block/modal/modal";
@import "../components/Poll/Poll";
@import "../components/Poll/poll-Item/poll-Item";
@import "../components/about-author/about-author";
@import "../components/dashboard/dashboard";
@import "../components/dashboard/author-card/author–°ard";
@import "../components/dashboard/list-articles/listArticles";
@import "../components/content-block/forms/edit-profile/editProfile";
@import "../components/detail/comments/comments";
@import "../components/detail/comments/simple-comment/simpleComment";
@import "../components/content-block/forms/add-new-detail-comment/addNewDetailComment";
@import "../components/card/mini-card/poll-card/miniPollCard";
@import "../components/content-block/Modal/Authorization/authorization";
@import "../components/modal/modal-emoji-menu/modal-emoji-menu";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}

body {
  font-size: 14px;
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-family: Roboto, serif;
}

li, ul {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

input {
  font-size: 16px;
  outline: none;
  border: none;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #777C86;
}

a:hover {
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  background-color: inherit;
}

h1, h2, h3, h4 {
  color: #003C5A;
  font-weight: bold;
  font-family: Open Sans, serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

svg {
  cursor: pointer;
}

svg path {
  pointer-events: none;
}

.content {
  margin-top: 30px;
  margin-bottom: 40px;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 15px;
}

.main-menu__wrapper {
  max-width: 130px;
  width: 100%;
  position: relative;
  margin-right: 2%;
}

.wrapper-content {
  width: 100%;
  max-width: 790px;
  overflow-x: hidden;
  overflow-y: visible;
  padding: 10px 10px 0 10px;
  margin-top: -10px;
}

.social-link__inst:hover:not(:active),
.social-link__f:hover:not(:active),
.social-link__ok:hover:not(:active),
.social-link__vk:hover:not(:active) {
  -webkit-box-shadow: 0 2px 5px rgba(103, 129, 143, 0.5);
  box-shadow: 0 2px 5px rgba(103, 129, 143, 0.5);
  border-radius: 24px;
}

.social-link__inst:active rect {
  fill: #000000;
}

.social-link__f:active rect {
  fill: #335293;
}

.social-link__ok:active rect {
  fill: #DB7807;
}

.social-link__vk:active rect {
  fill: #3F6B9D;
}

// content text
.content__text a,
.modal a {
  color: #0077E5;
}

.content__title {
  margin-bottom: 16px;
}

.content__text {
  font-size: 16px;
  line-height: 160%;
  color: #333333;
}

// content text effects
.content__text a:hover,
.modal a:hover {
  color: #005B88;
}

.content__text a:active,
.modal a:active {
  color: #961E00;
}

// list
.content-list__container .content__title {
  margin-bottom: 15px;
}

.content__list {
  padding-left: 35px;
  margin-bottom: 30px;
}

.content__list-item {
  list-style-type: initial;
  margin-bottom: 20px;
}

.btn {
  background: #016BA0;
  border-radius: 10px;
  padding: 2px 20px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 36px;
  cursor: pointer;
  width: max-content;
}

.btn:hover {
  background-color: #0082C4;
}

.btn:active {
  background-color: #003C5A;
}

.custom-checkbox,
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label,
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  margin-right: 10px;
}

.custom-checkbox:checked + label::after {
  content: '';
  position: absolute;
  left: 4px;
  background: #016BA0;
  border-radius: 2px;
  width: 10px;
  height: 10px;
}

.custom-checkbox:checked + label::before,
.custom-radio:checked + label::before {
  border-color: #016BA0;
}

.custom-radio + label::before {
  background-color: #FFFFFF;
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 10px;
}

.custom-radio:checked + label::after {
  content: '';
  position: absolute;
  left: 4px;
  background: #016BA0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

@media (max-width: 1024.98px) {
  .banner {
    display: none !important;
  }
}

@media (max-width: 860.98px) {
  .content {
    padding-top: 140px;
  }
  .main-menu__wrapper {
    width: 0;
    position: static;
    margin: 0;
  }
  h2 {
    font-size: 22px;
  }
  h1 {
    font-size: 24px;
  }
  .wrapper {
    padding: 0 29px;
  }
}

@media (max-width: 577.98px) {
  .wrapper {
    padding: 0 23px;
  }
}

@media (max-width: 450.98px) {
  .wrapper {
    padding: 0 5px !important;
  }
}