<div class="modal-emoji-menu" data-modal-emoji-item>
    <span class="modal-emoji-menu__title">Эмоджи и смайлики</span>
    <ul class="modal-emoji-menu__items">
        <% dataEmojiLink.forEach(item => { %>
            <li class="modal-emoji-menu__item">
                <span class="modal-emoji-menu__item-text"><%= item.title%></span>
            </li>
        <% }); %>
    </ul>
</div>








