.location-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 999;
}

//address
.location-address {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.location-address .location-address__title {
  font-size: 16px;
  color: #777C86;
  margin-right: 13px;
}

.location-address .location-address__value {
  font-weight: 500;
  font-size: 16px;
  text-decoration-line: underline;
  color: #003C5A;
  margin-left: 6px;
}

.location-address .select__location-link {
  display: flex;
  align-items: center;
}

//address effects
.location-address:hover {
  cursor: pointer;
}

.location-address:hover .location-address__value {
  color: #961E00;
}

.location-address:hover .location-address__icon path {
  fill: #961E00;
}

.location-address:active .location-address__value {
  color: #003C5A;
}

.location-address:active .location-address__icon path {
  fill: #003C5A;
}

// search input
.location-search__form {
  position: relative;
}

.location-search__input {
  padding: 6px 40px 6px 15px;
  border: 1px solid #777C86;
  border-radius: 18px;
  width: 100%;
  height: 36px;
  display: flex;
  color: #777C86;
}

.location-search__input:placeholder-shown {
  color: #BDBDBD;
  background-color: #F2F2F2;
  border-color: transparent;
  border-radius: 20px;
}

.location-search__input:focus {
  background: #FFFFFF;
  box-shadow: 0 2px 15px rgba(93, 125, 142, 0.3);
  border-radius: 18px;
  color: #333333;
}

.location-search__submit {
  top: 7px;
  position: absolute;
  right: 10px;
}

//search input effects
.location-search__submit:hover {
  cursor: pointer;
}

.location-search__submit:hover path {
  fill: #777C86;
}

@media (max-width: 860.98px) {
  .location-menu {
    position: fixed;
    top: 106px;
    height: 51px;
    padding: 0 39px 15px 39px;
    left: 0;
    right: 0;
  }
  .location-menu.box-shadow {
    box-shadow: 0 9px 17px -5px rgba(34, 60, 80, 0.25);
  }
}
@media (max-width: 770.98px) {
  .location-address .location-address__title {
    margin-right: 5px;
  }
  .location-address {
    margin-right: 30px;
  }
}

@media (max-width: 690.98px) {
  .location-address {
    display: none;
  }
}

@media (max-width: 576.98px) {
  .location-menu {
    padding: 0 33px 15px 33px;
  }
}
@media (max-width: 450.98px) {
  .location-menu {
    padding: 0 15px 15px 15px!important;
  }
}