.side-menu {
  width: 130px;
}

.side-menu.fixed {
  position: fixed;
  top: 25px;
}

// top link
.side-menu__inner-top .inner-top__link {
  border: 2px solid #003C5A;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 16px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.inner-top__link-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #003C5A;
  margin-left: 11px;
}

// top link effects
.side-menu__inner-top.disable .inner-top__link-name, {
  color: #777C86;
}

.side-menu__inner-top.disable path {
  fill: #777C86;
}

.side-menu__inner-top.disable .inner-top__link {
  border-color: #777C86;
}

.side-menu__inner-top:hover .inner-top__link-name, {
  color: #F0F2F5;
}

.side-menu__inner-top:hover path {
  fill: #F0F2F5;
}

.side-menu__inner-top:hover .inner-top__link {
  border-color: #003C5A;
  background-color: #003C5A;
}

// main menu
.side-menu__inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0 10px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 10px;
}

.side__menu-link {
  font-size: 14px;
  line-height: 35px;
  color: #003C5A;
  font-weight: 400;
}

// main menu effects
.side__menu-link:hover {
  color: #961E00;
}

.side__menu-link:active {
  font-weight: 500;
}

.side__menu-item.active .side__menu-link {
  color: #961E00;
  font-weight: 500;
  white-space: nowrap;
}

.side__menu-item {
  position: relative;
}

.side__menu-item.active:before {
  position: absolute;
  content: " ";
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #961E00;
}

// link bottom
.inner-bottom__link {
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 16px;
}

.inner-bottom__link-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  color: #003C5A;
  margin-right: 10px;
}

// link bottom effects
.side-menu__inner-bottom.active .inner-bottom__link-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.side-menu__inner-bottom:hover .inner-bottom__link {
  background-color: #F0F2F5;
}

@media (max-width: 860.98px) {
  .side-menu {
    display: none;
  }
  .side-menu-mobile.open {
    width: 400px;
  }
  .side-menu-mobile.open + .side-menu-mobile__bg-shadow {
    display: block;
  }
}

//side-menu-mobile
.side-menu-mobile {
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 0;
  background-color: #FFFFFF;
  height: 100%;
  z-index: 99999;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.side-menu-mobile__top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.side-menu-mobile__bg-shadow {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.5);
  z-index: 9999;
}
.side-menu-mobile .side-menu__inner-top .inner-top__link {
  height: 46px;
  border-radius: 25px;
}

.side-menu-mobile__header {
  position: relative;
  padding: 22px 39px 30px 30px;
}

.side-menu-mobile__header .side-menu__inner-main {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 17px;
  border-bottom: 0;
  margin-bottom: 0;
  max-height: 445px;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.side-menu-mobile__header .side__menu-item {
  margin: 15px 0;
}

.side-menu-mobile__header .side__menu-link {
  font-size: 18px;
  line-height: 26px;
}

.side-menu-mobile__header .side__menu-item.active:before {
  width: 7px;
  height: 7px;
  left: -16px;
}

.side-menu-mobile__header .location-address__value {
  font-size: 18px;
  margin-left: 8px;
  color: #003C5A;
  white-space: nowrap;
}

.side-menu-mobile__location-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px;
}

.side-menu-mobile__header .side-menu__inner-top {
  margin-top: 30px;
  width: 120px;
}

// menu-burger
.side-menu-mobile__close-btn {
  padding: 14px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 2px solid #777C86;
}

// menu-burger effects
.side-menu-mobile__close-btn path {
  fill: #777C86;
}

.side-menu-mobile__close-btn:hover path {
  fill: #003C5A;
}

.side-menu-mobile__close-btn:hover {
  border-color: #003C5A;
}

//side-menu mobile footer
.side-menu-mobile__footer {
  padding: 30px;
  max-height: 350px;
  height: 100%;
  background-color: #F2F2F2;
}

.side-menu-mobile__footer-menu {
  margin-bottom: 36px;
}

.side-menu-mobile__footer .footer-menu__item {
  font-size: 18px;
  color: #777C86;
  white-space: nowrap;
}

.side-menu-mobile__footer .footer-menu__item:not(:last-child) {
  margin-bottom: 16px;
}

.side-menu-footer__link-in-shop {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #777C86;
  background: #E0E0E0;
  border-radius: 19px;
  padding: 12px 50px;
  width: 241px;
}

.side-menu-footer__link-in-shop:hover {
  background-color: #003C5A;
  color: #ffffff;
  cursor: pointer;
}

.side-menu-mobile__footer .footer__social {
  margin-bottom: 36px;
}

.side-menu-mobile__footer .social-item svg {
  width: 32px;
  height: 32px;
}

.side-menu-mobile__footer .footer__social {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.side-menu-mobile__footer .social-item:not(:last-child) {
  margin-right: 37px !important;
}

@media (max-width: 400.98px) {
  .side-menu-mobile.open {
    width: 100%;
  }
  .side-menu-mobile__footer .social-item:not(:last-child) {
    margin-right: 25px!important;
  }
  .side-menu-mobile__footer .footer__social {
    margin-bottom: 30px;
  }
  .side-menu-mobile__footer-menu {
    margin-bottom: 30px;
  }
  .side-menu-mobile__header .side-menu__inner-top {
    margin-top: 35px;
  }
  .side-menu-footer__link-in-shop {
    max-width: 203px;
    padding: 5px 50px;
  }
}