<nav class="side-menu">
    <div class="side-menu__inner-top disable">
        <a class="inner-top__link" href="#">
            <svg class="inner-top__link-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 4V18.721C21.0001 18.818 20.972 18.913 20.9191 18.9943C20.8662 19.0756 20.7908 19.1398 20.702 19.179L12 23.03L3.298 19.18C3.20894 19.1407 3.13329 19.0762 3.08035 18.9945C3.02742 18.9128 2.99949 18.8174 3 18.72V4H1V2H23V4H21ZM5 4V17.745L12 20.845L19 17.745V4H5ZM8 8H16V10H8V8ZM8 12H16V14H8V12Z" fill="#003C5A"/>
            </svg>
            <span class="inner-top__link-name">Все</span>
        </a>
    </div>
    <div class="side-menu__inner-main">
        <ul class="side-menu__items">
            <li class="side__menu-item active"><a class="side__menu-link" href="#">Личности</a></li>
            <li class="side__menu-item"><a class="side__menu-link" href="#">Военные</a></li>
            <li class="side__menu-item"><a class="side__menu-link" href="#">Исторические</a></li>
            <li class="side__menu-item"><a class="side__menu-link" href="#">Религиозные</a></li>
            <li class="side__menu-item"><a class="side__menu-link" href="#">Персонажи</a></li>
            <li class="side__menu-item"><a class="side__menu-link" href="#">Необычные</a></li>
        </ul>
    </div>
    <div class="side-menu__inner-bottom ">
        <a class="inner-bottom__link" href="#">
            <span class="inner-bottom__link-name">Ещё</span>
            <svg class="inner-bottom__link-icon" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.99999 5.17198L11.95 0.221985L13.364 1.63598L6.99999 7.99998L0.635986 1.63598L2.04999 0.221985L6.99999 5.17198Z" fill="#003C5A"/>
            </svg>
        </a>
    </div>
</nav>