.question-item_container {
  margin: 40px 0;
  background-color: #F2F7FA;
  border-radius: 10px;
  padding: 30px;
}

.question-item_form {
  margin-top: 20px;
}

.question-option_container {
  margin-bottom: 20px;
}

// question option
.question-option_list {
  display: flex;
  justify-content: space-between;
}

.question-option_image {
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  border-radius: 10px;
}

.question-option_item:not(:last-child) {
  margin-right: 20px;
}

.question-option_item-container {
  display: flex;
  flex-direction: column;
}

.question-option_subText {
  margin-top: 5px;
  font-style: italic;
  font-size: 12px;
  color: #777C86;
}

// question option

.question-answer_item-label {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  display: flex;
  align-content: center;
  cursor: pointer;

}

.question-option__text {
  font-size: 16px;
}

.question-answer_item-input {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.question-answer_item:not(:last-child) {
  margin-bottom: 10px;
}

.question-answer_item {
  width: fit-content;
}

.question-btn {
  background-color: #016BA0;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 36px;
  cursor: pointer;
  padding: 2px 20px;
  margin-top: 20px;
}

.question-btn:hover {
  background-color: #0082C4;
}

.question-btn:active {
  background-color: #003C5A;
}

@media (max-width: 576.98px) {
  .question-option_item:not(:last-child) {
    margin-right: 30px;
  }
  .question-option_item {
    margin-bottom: 20px;
  }
  .question-option_image {
    max-width: 130px;
    max-height: 130px;
  }
  .question-option_list {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -35px;
  }
}
@media (max-width: 320.98px) {
  .question-option_item:not(:last-child) {
    margin-right: 0;
  }
  .question-option_item {
    margin-bottom: 25px;
  }
  .question-option_image {
    max-width: 100%;
    max-height: 100%;
  }
}