.question-item_container {
  margin: 40px 0;
  background-color: #F2F7FA;
  border-radius: 10px;
  padding: 30px;
}

.question-item_form {
  margin-top: 20px;
}

.question-option_container,
.question-answer_container {
  margin-bottom: 20px;
}

// question option
.question-option_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 27px;
}

.question-option_image {
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  border-radius: 10px;
}

.question-option_item-container {
  display: flex;
  flex-direction: column;
}

.question-option_subText {
  margin-top: 5px;
  font-style: italic;
  font-size: 12px;
  color: #777C86;
}

// question option
.question-answer_item-label {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  display: flex;
  align-content: center;
  cursor: pointer;
}

.question-option__text {
  font-size: 16px;
}

.question-answer_item {
  width: fit-content;
}

.question-btn:hover {
  background-color: #0082C4;
}

.question-btn:active {
  background-color: #003C5A;
}

@media (max-width: 800.98px) {
  .question-option_image {
    max-width: 110px;
    max-height: 110px;
  }
  .question-option_list {
    gap: 20px;
  }
}

@media (max-width: 576.98px) {
  .question-option_container {
    margin-bottom: 20px;
  }
  .question-option__text {
    margin-bottom: 20px;
  }
  .question-option_image {
    max-width: 130px!important;
    max-height: 130px!important;
  }
  .question-option_list {
    gap: 30px!important;
  }
}
@media (max-width: 380.98px) {
  .question-option_image {
    max-width: 100%!important;
    max-height: 100%!important;
  }
  .question-option_list {
    gap: 25px!important;
  }
}
