// note
.article-content__note {
  padding: 14px 20px 16px 23px;
  background-color: #F2F7FA;
  border-left: 3px solid #003C5A;
  margin-bottom: 35px;
  margin-top: 35px;
}

.article-content__note-text {
  font-style: italic;
  font-size: 16px;
  line-height: 160%;
  color: #003C5A;
}